[2017-06-30 16:02] fedorov opened #1 "License and home"
Is there a particular reason why this repo is under Slicer license? Maybe switch to Apache or something, while it is early in the process? (e.g, cornerstone is MIT https://github.com/chafey/cornerstone/blob/master/LICENSE).

How about moving (not forking!) this repository under QIICR organization, or OHIF organization?

[2017-06-30 17:11] pieper commented on #1
The license was changed to MIT yesterday.

This is in my repo because we didn't know for sure which org would want to take responsibility and didn't want to wait while we hashed that out.  If we are happy with this as a QIICR deliverable then I think that's the best home for now, but longer term OHIF might be better (see why we didn't want to delay?) 😄

[2017-06-30 17:19] fedorov commented on #1
Ah, I didn't even think to re-check. 👍

I think responsibility will always lie with the individuals who are interested to contribute and maintain a repo. Organization is a means to organize and provide some consistency, continuity and common theme to the development. It can also help with the visibility. I am fine with either QIICR or OHIF - you guys are the authors, so you decide. It is not like

[2017-07-01 06:24] pieper commented on #1
Agreed - there needs to be a README.  I'll add that.

[2017-07-01 06:24] #1 closed

[2017-07-05 16:29] fedorov opened #2 "Labeling output as research"
It probably makes sense to initialize this attribute:

[code]

[2017-07-05 17:40] #2 closed

[2017-07-05 21:38] pieper opened #3 "Handle MappingResource and MappingResourceUID"
Because the naturalize/denaturalize process currently drops UID from value names
like SOPClassUID to improve readability, it leads to ambiguity in the special case
of MappingResource and MappingResourceUID where both versions exist in
the data dictionary.

In a related issue, dropping "Sequence" from the end of value names is also seeming
like it adds a bit of confusion for things like ContentSequ

[2017-07-06 16:23] fedorov opened #4 "Inconsistencies in referenced instances"
There is an inconsistency between the instances referenced here

![image](https://user-images.githubusercontent.com/313942/27921445-d67ace2c-6245-11e7-9131-c8ec92767d5c.png)

and in the per-frame derivation image sequence

![image](https://user-images.githubusercontent.com/313942/27921486-f1e3c0b0-6245-11e7-9c81-5b3ea593a645.png)

[2017-07-06 16:24] fedorov opened #5 "DerivationCodeSequence not populated correctly"
CodeMeaning can't be correct

![image](https://user-images.githubusercontent.com/313942/27921522-0c2cd15a-6246-11e7-93c2-b4e9e67ad50b.png)

[2017-07-06 21:51] pieper commented on #5
I see - yes, the CodeMeaning should be string "Segmentation" but this is being auto-converted back to the corresponding SOPClassUID of the same name.  Will need to do something dependent on the VR to decide if a UID should be converted.

[2017-07-06 21:52] pieper commented on #4
Can you describe which example you used?  (is this from SR or SEG example).

[2017-07-06 22:19] fedorov commented on #4
SEG

[2017-07-06 22:22] fedorov commented on #5
Steve, this code is unrelated to Segmentation SOPClassUID

[2017-07-06 23:18] pieper commented on #5
Yes, that's why I said it's incorrectly being autoconverted into a UID when it should be just the string "Segmentation".

[2017-07-06 23:25] pieper commented on #4
The reason for this is that the original MRImages are converted to a multiframe before the SEG or SR are created so the reference series are the original single frames but the derivation series is the multiframe.  I'll have another look at the logic and decide which one makes the most sense to include in each place.

[2017-07-06 23:44] pieper commented on #4
For reference here is the code in question:

https://github.com/pieper/dcmjs/blob/master/src/derivations.js#L239-L257

[2017-07-07 01:15] fedorov commented on #5
I meant to say I am confused why there is a decision between converting anything into a UID at all present here. The item in question is part of a code sequence, which describes the purpose of referencing a given instance. Code 113076 is from a DCM dictionary, and its meaning is "Segmentation". I don't understand why VR should have any role in any decision making here.

[2017-07-07 13:43] pieper commented on #5
The idea was to behave like dcmdump, where if there is a recognized UID it
is replaced by the corresponding human readable name of the UID (in their
case with an equals sign in front of it).  Then dump2dcm recognizes this
and converts back to a UID string of numbers.  My first (current)
implementation didn't account for the case where the value of a tag could
have the same string as a UID name, bu

[2017-07-07 14:03] fedorov commented on #5
Yes, I understand, but I am not sure going the other direction (name to UID) is a good idea. What motivated you to add this feature?

[2017-07-07 14:16] pieper commented on #5
Mainly just readability.  I wanted to avoid having any hex or uid strings in the code.  But as I said I'm backing off that feature and instead I plan to just have programmers use the dictionary directly to map names to UID strings.

[2017-07-07 14:25] pieper opened #6 "create NDD compatible JSON objects"
Avoid ambiguities in the conversion of UID and Sequences by making the dcmjs code conform to the goals of NDD (https://github.com/pieper/dcmjs/wiki/NDD-Format).

Specifically:
* don't drop UID or Sequence from the tag names
* don't auto-convert UID strings to names

[2017-07-08 19:16] #5 closed

[2017-07-08 19:16] #6 closed

[2017-07-10 18:48] #3 closed

[2018-02-23 16:20] fedorov opened #9 "Demo example does not work with a non-square image"
I wanted to test this example https://pieper.github.io/dcmjs/examples/display2/ with the images contributed in this PR https://github.com/QIICR/dcmqi/pull/334/files, but the result is blank. Not sure if this is expected - the image is non-square 38x24, generated using Slicer CreateDICOMSeries.

[2018-02-23 22:33] fedorov commented on #9
To clarify, the first thing that didn't work is dropping the 3 CT slices into the viewer. The files are in the `data/segmentations/2[3-4]x38x3/image` folder of this PR: https://github.com/QIICR/dcmqi/pull/334.

[2018-02-23 22:47] pieper commented on #9
Interestingly the first file IMG0001.dcm has no WindowCenter/WindowWidth
tags so default is used and the image shows up black.  If I just drop the
other two files they show up correctly.

Why is the first file different?  Another mystery!

Also the seg does not show up correctly aligned.  Is it in the same pixel
grid or different?

On Fri, Feb 23, 2018 at 5:33 PM, Andrey Fedorov <notifications@git

[2018-03-02 04:32] fedorov commented on #9
I updated the test dataset (locations of the files are the same in the PR referenced above). W/L is now initialized, and it should also be more straightforward to compare the content (there is a non-zero blob in CT that should line up exactly with the segmentation).

The pixel grid should be the same, matching the name of the directory and SeriesDescription.

[2018-04-09 14:44] pieper opened #10 "iterate through dataset with forEach instead of for...in"
In some environments (e.g. the meteor-based OHIFViewer) the Object prototype has enumerable properties added and these should not be considered part of the dataset.

So patterns like:

`for (let tag in dataset) {}`

Need to change to:

`Object.keys(dataset).forEach(tag => {})`

Which also means that the body needs to change to a function, so `continue` needs to become `return` etc.

[2018-04-13 15:42] pieper commented on #10
Fixed by d359f0c21b58be899a0bf30a6bca57d58b69b2e0

[2018-04-13 15:42] #10 closed

[2018-04-13 15:44] pieper opened #11 "bad display for bit packed seg with odd dimensions"
The DICOM4QI example doesn't load correctly.

[fixed-CT+seg-23x38x3.zip](https://github.com/pieper/dcmjs/files/1908028/fixed-CT.seg-23x38x3.zip)

[2018-06-07 15:29] pieper opened #12 "Change SR procedure reported form 99 code to generic standard code"
"P0-0099A", "SRT", "Imaging procedure"

See https://github.com/QIICR/dcmqi/blob/master/apps/sr/tid1500writer.cxx#L141-L150

This should be the default when constructing a derived SR

[2018-06-07 17:21] fedorov commented on #12
For the reference, discussion on how initialization with a more specific code could be approached: https://github.com/QIICR/dcmqi/issues/30

[2018-09-05 15:48] khyamay opened #15 "Example of anonymising a dicom"
Is it possible to get an example of how to anonymise a dicom file using dcmjs ? Thanks in advance.

[2018-09-06 22:20] pieper commented on #15
I don't have an out-of-the box solution but it would be easy to do something basic.

If you are interested in helping develop and test such an example I'd be glad to give a skeleton.  To make sure it was working we'd want to compare some real-world cases against existing solutions like [CTP](https://www.rsna.org/ctp.aspx) and [DicomCleaner](http://www.dclunie.com/pixelmed/software/webstart/DicomCl

[2018-11-01 17:09] pieper opened #19 "code needs to be refactored"
Add comments here with things that need to be changed in the code base:

* consistent capitalization Dicom -> DICOM
* remove abbreviations unless they are standard
* dynamically load the data dictionary rather than hard-coding it in the class

please add more below...

[2018-11-02 11:49] pieper commented on #19
Also we should clean up any lingering dead code.  Also any commented out (or not) console.log debug statements.  Instead we should have a proper logging mechanism.

[2018-11-05 14:33] JamesAPetts opened #26 "Segmentation derviation, add/remove Segments."
FYI, claiming this TODO:
https://github.com/dcmjs-org/dcmjs/blob/master/src/derivations.js#L315

[code]

[2018-11-05 14:46] pieper commented on #26
👍

[2018-11-22 19:46] jpambrun opened #28 "Cant require from nodejs, window is not defined"
Doing the following :
[code]

[2018-11-22 20:57] jpambrun commented on #28
This bug : https://github.com/webpack/webpack/issues/6784

[2018-11-23 12:34] pieper commented on #28
Thanks for the report - I guess if this is a webpack issue we can just wait for it to be resolved there.

[2018-11-23 13:04] pieper commented on #28
That workaround seems reasonable to me - I don't know what the impact would be.  dcmjs itself doesn't care at all about the browser environment.

@galelis do you have any ideas on this?

[2018-12-07 15:23] JamesAPetts opened #29 "Slice Thickness Field is absent in created SEGs."
Tag – 0x00180050DICOM
Standard part 3 (IODs) - C.7.6.16.2.1 Pixel Measures Macro:

Slice Thickness is type 1C. Required if SOP Class UID is Segmentation Storage ("1.2.840.10008.5.1.4.1.1.66.4") and Frame of Reference UID (0020,0052) is present.

For SEGs generated with `dcmjs` The FoR field is present, but the required Slice Thickness field is absent.

Apologies for any brevity, writing this here

[2018-12-07 15:33] malaterre commented on #29
That's accurate:

* http://dicom.nema.org/medical/dicom/current/output/chtml/part03/sect_C.7.6.16.2.html#para_e5827725-4fab-480a-9f50-85d2c7004b41

[2018-12-07 17:47] fedorov commented on #29
Mandatory pointer to the discussion involving David Clunie on a dcmqi issue that triggered the correction proposal "CP 1426 Correct condition in Pixel Measures, Plane Position and Orientation Functional Groups for Segmentation" (ftp://medical.nema.org/medical/dicom/final/cp1426_ft.pdf) adding this attribute: https://github.com/QIICR/dcmqi/pull/89

Note that it was not present in the original versi

[2018-12-07 17:52] fedorov commented on #29
Correction - that was not the discussion that triggered the CP, must have been something else, but the referenced discussion might still be important to consider as you are implementing and will face eventually corner cases where it is not obvious what to do.

[2018-12-10 15:18] JamesDarcy616 opened #30 "Referenced Series Sequence is missing required fields"
SEG generated by dcmjs is missing required fields in Referenced Series Sequence (0x0x00081115)

DICOM part 3 - C.12.2 Common Instance Reference Module

* Study Instance UID (0x0020000D) required but missing.
* Referenced Instance Sequence (0x0008114A) required but missing.

Related to issue #4?

[2018-12-11 10:11] JamesAPetts commented on #30
Note, the related code is here: https://github.com/dcmjs-org/dcmjs/blob/master/src/derivations.js#L233

I'll look into it.

[2018-12-11 15:16] JamesAPetts commented on #30
For future reference for those who find this thread, the `Study Instance UID` is not a required field of of the `Common Instance Reference Module`, but instead a required field of the 1C `Studies Containing Other Referenced Instances Sequence (0008,1200)`, which is only present if the multi-frame references images from a separate study.

Otherwise a PR for the Referenced Instance Sequence is comin

[2018-12-11 15:51] JamesAPetts commented on #30
Fix in #31 .

[2018-12-11 16:23] JamesAPetts commented on #29
So as far as I understand, `Slice Thickness` in the `Image Plane` module is type 2, i.e. we can only assume its present and empty. But `Slice Thickness` in SEG's `Pixel Measures Sequence` is type 1C (with the always satisfied condition of being a SEG SOPClass... so type 1).

This is a bit of a problem, as we need to fill the field with something. You can't derive the `Slice Thickness` from other p

[2018-12-11 16:51] JamesAPetts commented on #29
After some discussion in the `dcmjs` slack channel, we've come to the conclusion that the only logical thing to do if `Slice Thickness` is missing in the base images is to fill it in with the closest calculable quantity, being the distance between slices.

In reality the `Slice Thickness` of the acquired images could be less than, equal to, or greater than the distance between slices, but the orig

[2018-12-12 10:31] JamesAPetts commented on #29
Fixed generation of the `SliceThickness` field when making the intermediate derived multiframe from single frames. This has been pushed to `master`.

[2018-12-12 10:31] #29 closed

[2018-12-14 15:24] fedorov opened #32 ""QIICR segmentation data" example is no longer working"
E.g. https://pieper.github.io/dcmjs/examples/qiicr/?seriesUID=1.2.276.0.7230010.3.1.3.8323329.30077.1440006259.837527

![image](https://user-images.githubusercontent.com/313942/50011559-70552c80-ff8a-11e8-8d3b-334b0380370c.png)

[2018-12-14 19:52] fedorov commented on #32
Thank you, this works now!

[2019-01-04 12:23] NussknackerXXL commented on #19
The framecount-method should be moved into the `DICOMZero` class. This would pack code together which belongs together and avoid code duplication in nearly every example.

[2019-01-04 13:19] NussknackerXXL commented on #19
What about using loglevel?

[2019-01-04 15:13] pieper commented on #19
loglevel looks fine to me.

Also regarding DICOMZero, I'm thinking it should be made into a dcmjs.utils or similar.

[2019-01-16 16:31] JamesDarcy616 opened #34 "Linear measurements SR has duplicate image reference entries"
Multiple linear measurements in an SR from [https://dcmjs-org.github.io/dcmjs/examples/linearMeasurements/index.html](url) results in duplicate entries in both the Current Requested Procedure Evidence sequence and the Image Library Group container within the SR content.

Current Requeseted Procedure Evidence:
[code]

Image Library Group:
[code]

[2019-01-29 14:43] NussknackerXXL commented on #19
As the examples are just working with the files in the helpers folder, i think we should move the dicomweb.js and DICOMZero.js to the main library as application enabling files?

Then i could start with documenting the helper files code and how the examples are using them.

[2019-02-01 07:07] pieper commented on #19
Hi Tobias -

The helpers are not meant to be part of the main library, but if we find
that there are specific methods in DICOMZero we could move them to utils.
For dicomweb.js, they should be merged with dicomweb-client.  Ideally the
examples should be as small as possible.  Thanks!

-Steve

On Tue, Jan 29, 2019 at 2:43 PM Tobias <notifications@github.com> wrote:

[2019-02-06 14:04] JamesAPetts opened #38 "Spacing Between Slices is equating to zero in the normalizer implementation."
`Spacing Between Slices` and `Slice Thickness` are equating to zero when constructing a normalized multi-frame. This is because this dot product is always equating to zero: https://github.com/dcmjs-org/dcmjs/blob/8f242379abd47f4ea1509af61023541a41f73660/src/normalizers.js#L157

I'll try to look into this next week.

[2019-02-06 16:17] pieper commented on #38
Hi @JamesAPetts  - What input data are you using?  The line you highlighted is there to handle the case of a sheared dataset (e.g. with gantry tilt) so that the spacing between the slices is calculated by projecting back the vector between positions onto the vector perpendicular to the slice plane.  This would only be zero if the positions are in the same plane.

[2019-02-06 16:27] fedorov commented on #38
To give the background, this came up when I installed OHIF XNAT plugin, and used it to make a segmentation of an MR series that happened to be from the PROSTATEx dataset. To the best of my knowledge, there was no shear in that dataset. When I tried to load the resulting DICOM SEG into Slicer, I got a failure, and investigating that further, I traced it down to those attributes set to 0.

[2019-02-06 16:33] pieper commented on #38
Can you provide an example?  The logic looks right to me, but maybe there's a corner case I'm not seeing.

[2019-02-06 16:38] fedorov commented on #38
Steve, what do you mean by "an example"? A SEG file that has those attributes set to 0 by the OHIF XNAT plugin? Or step-by-step instructions how to reproduce the problem with XNAT and XNAT OHIF plugin for a sample input MR dataset?

[2019-02-06 16:45] pieper commented on #38
The referenced code is used to convert single frame images to multiframe, so if you have a set of single frames that result in a zero value of spacing between slices that would be "an example" of the type I'm looking for.

Of course I'm also fine with letting @JamesAPetts have a look when he has a chance.

[2019-02-06 16:53] fedorov commented on #38
I am just a user of a "solution" that uses dcmjs (or I guess a version of it?) as one of the components. I don't have an isolated example.

[2019-02-06 17:08] JamesAPetts commented on #38
Hey @pieper , thanks for the background on the issue. I'm a bit held up with other things until next week, but in case you wish to have a look at it before then, this seems to occur for any "single frame" series. I've confirmed the issue on multiple CT and MR datasets.

[2019-02-06 17:15] JamesAPetts commented on #38
The issue is present on the create segmentation example on master.

[2019-02-06 17:34] JamesAPetts commented on #38
Turns out this is just a mistake with BOTH the demo and the XNAT reader. The code is solid haha.

[2019-02-06 17:36] JamesAPetts commented on #38
I'll fix this and push it tomorrow.

[2019-02-07 10:00] JamesAPetts commented on #38
Done.

[2019-02-07 10:00] #38 closed

[2019-02-07 17:35] JamesAPetts opened #40 "DICOM SEG IO is still quite rudimentary."
TODO: Only extract slices from cornerstone that have data, to make smaller segs if possible.
TODO: Add more helpers to the segmentation class to add the appropriate fields to the `PerFrameFunctionalGroupsSequence` when adding multiple segments.

meta-TODO: ctrl + f through all the TODOs in the `Segmentation` derivation and see if any issues remain.

[2019-02-08 09:46] JamesAPetts commented on #40
Working mostly on the `seg-ndarray` branch.

[2019-02-15 10:35] #28 closed

[2019-02-19 11:20] biharck opened #42 "Ungraceful errors when undefined values comes to DicomMetaDictionary.denaturalizeValue"
There is an edge case where an array of null elements comes to **denaturalizeValue** method at https://github.com/dcmjs-org/dcmjs/blob/2865d52fe0d93fc35656882d7a12cca5fdb51c7f/src/DicomMetaDictionary.js#L124

When this situation occurs, this method fails ungraceful:
`Uncaught TypeError: Cannot read property 'constructor' of undefined`

Perhaps when there is an array that contains only null values

[2019-02-19 12:04] biharck commented on #42
A PR was open in order to fix it. Up to now, it throws an Error if there is at least one undefined value at the array: https://github.com/dcmjs-org/dcmjs/pull/43

[2019-02-23 15:45] jssuttles opened #46 "LT does not allow multiple"
Add LT to singleVRs

[2019-02-23 16:14] pieper commented on #46
Hi @jssuttles  - Just trying to understand your issue: Do you have a specific suggestion for a change?  Maybe you can share an example dataset that's not currently supported to use for testing?

[2019-02-24 20:38] swederik commented on #46
I believe he just wants to add "LT" to this array: https://github.com/dcmjs-org/dcmjs/blob/2865d52fe0d93fc35656882d7a12cca5fdb51c7f/src/DicomMessage.js#L10

[2019-02-25 12:52] pieper commented on #46
I have no real objection to that code change.  Would still like to have specific example if possible.

[2019-02-25 19:55] jssuttles commented on #46
@swederik is right. Perhaps not a great use case, but I tried sticking an HL7 message into a private tag with a VR "LT". HL7 messages have backslashes. Having LT work as a multi-value VR caused the message to be broken into 2 values, which made it confusing for simple-hl7 to parse the message. I later changed this to use a "UN" VR because I don't know how long these HL7 messages will be. But as pe

[2019-02-25 20:00] #46 closed

[2019-02-25 20:00] pieper commented on #46
Thanks for the fix! 👍

[2019-03-06 20:55] jssuttles opened #52 "UN odd to even padding"
I'm working with an older version of this, but I came across an issue that, with a cursory glance, seems to affect this version.
http://dicom.nema.org/Dicom/2013/output/chtml/part05/sect_6.2.html
I was rather surprised when I used this library, and it padded the UN with a null. Based on my reading of the above link, only UIs and OBs should be null padded.

[2019-03-07 15:51] jssuttles commented on #52
I didn't realize there were so many versions of this document. Here's the latest: http://dicom.nema.org/medical/dicom/current/output/html/part05.html#sect_6.2

[2019-03-07 15:56] jssuttles commented on #52
After reading the doc further, I think I'm mistaken. Sorry if you've read this. UN should be a length that is valid for any other VR and all other VRs are either padded to even length or have a fixed even length. I'm working on a PR to that effect.

[2019-03-07 15:56] #52 closed

[2019-03-07 20:36] pieper commented on #52
Thanks for digging into this - a PR to fix anything non-standard in dcmjs will be welcome 👍

[2019-03-08 22:30] pieper opened #53 "IntegerString (IS) and maybe other VRs should be Number not String"
As reported by @emelalkim, IS elements are reported as quoted strings by dcmjs, but dcm4chee reports them as json Numbers.  Looking at the standard dcm4chee is correct and dcmjs should be updated.

[code]

http://dicom.nema.org/medical/dicom/current/output/chtml/part18/sect_F.2.3.html

[2019-03-08 23:12] fedorov commented on #53
This is kind of related to the question I wanted to ask you Steve at the last project week. Can you point me to the right place to see how you handle FL/FD? ("Single precision binary floating point number represented in IEEE 754:1985 32-bit Floating Point Number Format.") http://dicom.nema.org/medical/dicom/current/output/chtml/part05/sect_6.2.html

[2019-03-09 14:04] pieper commented on #53
@fedorov, sure - the [vr classes](https://github.com/dcmjs-org/dcmjs/blob/2865d52fe0d93fc35656882d7a12cca5fdb51c7f/src/ValueRepresentation.js#L464-L506) read and write the [BufferStream](https://github.com/dcmjs-org/dcmjs/blob/2865d52fe0d93fc35656882d7a12cca5fdb51c7f/src/BufferStream.js#L202-L212) which uses a DataView to convert (like [this](https://developer.mozilla.org/en-US/docs/Web/JavaScript

[2019-03-11 11:44] JamesAPetts commented on #40
This was largely resolved by #45 .

[2019-03-11 11:44] #40 closed

[2019-03-11 15:55] JamesAPetts opened #54 "create Segementation does not work for single frame images."
Its throwing [here](https://github.com/dcmjs-org/dcmjs/blob/a8f69ae0cc9cc04315f85e3d05e4b9919df29af6/src/derivations/Segmentation.js#L200). This is because we convert all the `datasets` to a multiframe before passing it to the Segmentation class constructor. Its probably just a case of iterating through the the `ReferencedInstanceSequence` of the `dataset`, and grabbing the info from there.

[2019-03-11 16:55] fedorov commented on #53
Can you explain how you maintain IEEE encoding for floats going back and forth between JSON and DICOM, considering [numeric JSON format is not IEEE 754 compliant](https://stackoverflow.com/questions/43729861/how-do-i-handle-ieee-754-floating-point-numbers-in-json)?

[2019-03-11 17:35] malaterre commented on #53
@fedorov You don't.

ref:
* https://groups.google.com/forum/#!msg/comp.protocols.dicom/-xFgvgwUckw/D59ryHXuDgAJ

[2019-03-11 17:40] fedorov commented on #53
@malaterre yes, I also just ran into that (un-answered) post.

So if you don't then what do you do when you do the conversion? When you get a JSON NUMBER, do you do a separate validation to determine if it can be encoded as FL/FD? How do you maintain round-trip consistency, or you also don't?

[2019-03-11 17:44] fedorov commented on #53
I guess I am not expressing myself clearly, it can always be encoded, but I guess what I am getting at is how to deal with precision in JSON, validation of JSON wrt VRs, and loss-less round-trip.

[2019-03-12 13:29] jssuttles commented on #52
I'm actually not sure how to proceed in this case... There are some VRs that are padded with nulls and some VRs that are padded with spaces. The idea behind the UN tag is that the VR is unknown. There's no guideline in the documentation about whether to pad with spaces or nulls when it's unknown, and there's nothing that restricts it to a specific type of unknown. Ideas? Currently, I have it defau

[2019-03-12 13:36] malaterre commented on #52
Technically you only have one case where you can pad the odd value: when the VR is `ASCII` type (eg, typically VR:DS) but the Value Length is so big that it does not fit into the 16bits allocated Value Length. In that case DICOM standard mandates that you store VR:UN when serialized on disk (even if your app knows the actual real VR).

In all other case just pass the attribute as-is is by far the

[2019-03-13 13:45] JamesAPetts commented on #54
#55 .

[2019-03-13 13:45] #54 closed

[2019-03-14 10:49] #42 closed

[2019-04-03 19:17] hackermd opened #61 "UIDs with root 2.25 should be derived from UUID"
[PS 3.5 Sect B2](http://dicom.nema.org/medical/dicom/current/output/chtml/part05/sect_B.2.html) specifies that UIDs with root "2.25" shall be derived from a UUID. According to [ITU-T X.667](https://www.itu.int/rec/T-REC-X.667-201210-I/en) this can be achieved as follows:

[2019-04-03 19:30] pieper commented on #61
Good point - the relevant code is here:

https://github.com/dcmjs-org/dcmjs/blob/master/src/DicomMetaDictionary.js#L220-L226

Looks like the problem is pretty well addressed here:

https://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript

[2019-06-05 17:13] fedorov commented on #32
@pieper it is broken again

![image](https://user-images.githubusercontent.com/313942/58975749-b6e64f80-8793-11e9-8b5a-ec49fb66de6e.png)

[2019-06-05 17:14] fedorov commented on #32
The issue above is for the URL provided in https://github.com/dcmjs-org/dcmjs/issues/32#issuecomment-447432789

[2019-06-05 17:46] pieper commented on #32
Sorry, yes, I guess this got broken again when the examples repository was set up.  I just fixed it so that either of the links below will work, with the later being slightly preferred.

https://dcmjs-org.github.io/dcmjs/examples/qiicr/?seriesUID=1.2.276.0.7230010.3.1.3.8323329.30077.1440006259.837527

https://examples.dcmjs.org/qiicr/?seriesUID=1.2.276.0.7230010.3.1.3.8323329.30077.1440006259.837

[2019-06-05 17:46] #32 closed

[2019-06-11 18:36] pieper commented on #53
It looks to us like in both IntegerString and DecimalString we need to replace
`return x`
with
`return Number(x)`

https://github.com/dcmjs-org/dcmjs/blob/f096a4190437f9b88988c94679a62c973b0547d0/src/ValueRepresentation.js#L508-L519

https://github.com/dcmjs-org/dcmjs/blob/f096a4190437f9b88988c94679a62c973b0547d0/src/ValueRepresentation.js#L441-L454

[2019-06-11 20:06] pieper commented on #53
@fedorov regarding the open question about FL/FD can you open up a new issue if you think this is specifically something we can solve in dcmjs?  It sounds like this is actually a more general issue with the standard.

[2019-06-11 20:35] fedorov commented on #53
@pieper I asked since I just wanted to understand how you handle this. I do not know what is the proper solution, and I do agree this is a more general issue with the standard.

Since both dcmjs and dcmqi have to deal with this issue, I was just thinking if we could reach some consensus.

[2019-06-21 14:39] jaykumarthaker opened #64 "modifying dicom tags"
I am completely newbie to DICOM and was assigned to modify DICOM tags ;) so please bear with me.

My question is very simple, how do we modify DICOM tags and save it as file?

We will be using this module in Electron App so will have access to Node's **fs** module. I tried it on my own, something like:

[code]
With this, file get saved correctly but when I read the DICOM again, it has added new ta

[2019-06-21 17:37] pieper commented on #64
I'd suggest something more like this:

[code]

[2019-06-21 18:42] jaykumarthaker commented on #64
Man, I am over the moon! 👍 Thank you so much @pieper for quick & accurate response!

Just one last question, is it possible to add new Tag? Because with pydicom we used to do this:
[code]
how can achieve something similar like this one?
once again, thanks a bunch :)

[2019-06-21 21:30] pieper commented on #64
No problem - hope you find this useful.  After years of working with various dicom toolkits I tried to make dcmjs as painless as possible, so for most purposes you just assign a member to the dataset named based on the data dictionary, so there's no hex codes needed and the values are simple javascript types wherever possible (numbers, strings, lists, objects, etc).

[code]

[2019-06-21 22:03] jaykumarthaker commented on #64
Indeed! **dcmjs** helped me to develop things very smoothly. I have been searching for JS tools available for DICOM, and those efforts ended on dcmjs. I saw your work from [dcmio](https://github.com/pieper/sites/tree/gh-pages/dcmio) to dcmjs. Amazing job.. Once we have documentation in-place, it will take no time for developers to understand the APIs, even for newcomers to DICOM world.

kudos to y

[2019-06-21 22:03] #64 closed

[2019-06-21 22:07] pieper commented on #64
Thanks!

By the way if you're interested in such things you might want to join us for a Project Week (there's [one next week at MIT](https://github.com/NA-MIC/ProjectWeek/tree/master/PW31_2019_Boston), then another in Canada in July and one in Spain in January).

[2019-06-21 22:41] jaykumarthaker commented on #64
Sounds great, very appreciative of your offer. Looking forward to meet you in [London, Canada](https://projectweek.na-mic.org/PW32_2019_London_Canada/)!

[2019-06-21 23:52] pieper commented on #64
Oooo, too bad that's the one I'll miss, but you'll meet lots of great folks there!

[2019-06-22 15:07] pieper commented on #53
For reference on the original topic of strings vs numbers for various VRs this is also being addressed in the corresponding pydicom code and at some point I'd like to see a test that uses both pydicom and dcmjs to confirm interoperability and standards compliance.

https://github.com/pydicom/pydicom/pull/862

[2019-06-26 12:13] MohsinAther opened #65 "Convert JSON TO dicom object"
Hi, i want to convert JSON to dicom object. i read #64 but input is a dicom file in that thread.

my JSON would be like
  "00080018" : {
        "vr" : "UI",
        "Value" : [
            "1.3.12.2.1107.5.4.3.321890.19960124.162922.29"
        ]
    },
    "00080020" : {
        "vr" : "DA",
        "Value" : [
            "19511013"
        ]
    }......

[2019-06-26 14:30] pieper commented on #65
It's basically the same.  You can populate the javascript object from scratch rather than using one loaded from a file.  You can follow the basic style shown in #64 (use tag names and the hex and vr are pulled from the dictionary).

[2019-06-27 09:04] MohsinAther commented on #65
I loaded my js file and edited the tag. but im unable to save it correctly. i also used "WriteBufferStream" but not working

const dcmjs = require("dcmjs");
const fs = require("fs");

const filePath = require("./data.json");

var dataset = dcmjs.data.DicomMetaDictionary.naturalizeDataset(filePath);

dataset.PatientName = "DemoPatient"

dataset = dcmjs.data.DicomMetaDictionary.denaturalizeDataset(d

[2019-06-27 11:24] pieper commented on #65
Hard to say at a glance, but the best bet is probably just to print out each variable as you go and confirm it has the value you expect.  Or start with the other working example and make incremental changes and confirm each one.  This week is kind of busy for me, but probably next week we should make a some examples (tests) that cover this use case.

[2019-06-27 12:30] MohsinAther commented on #65
i have added a debugger and watched each and every value .
let DicomDict = dcmjs.data.DicomMessage.readFile(arrayBuffer);

this line is converting, dicom file from buffer to object => output is a object which has metadata and dict objects and same object is calling write function

 DicomDict.write();

i have made the same js object in "DicomDict" variable as given in example and tried (without let

[2019-07-02 22:07] pieper commented on #65
Hi - maybe you already figured this out, but if not this code might help.

Basically this WIP code converts between part10 and json files.  It doesn't handle PixelData or other data that should be base64 encoded but it works for other data.

https://github.com/dcmjs-org/dcmjs/blob/add-commander/bin/dcmjs-cli.js#L32-L43

[2019-07-03 10:41] MohsinAther commented on #65
but i need pixeldata aswell

[2019-07-03 10:57] pieper commented on #65
Yes, I plan to add that to the dump/undump with base64 encode/decode according to the standard (or maybe as a separate file so the json is easier to manipulate).

In any case you should be able to just set PixelData to be the right kind of TypedArray.

I hope this is enough to get you going.  If you get something working please post it here for future reference.  Or if it's not working let me know

[2019-07-03 11:58] MohsinAther commented on #65
i have written a new function and passing json to it. (i hardcoded some meta just for testing purpose, and added pixel data to 7fe00010 tag. its writing the dcm file. meta is correct but viewers i.e RadiAnt could not open it.

    function toArrayBuffer(buf) {
            var ab = new ArrayBuffer(buf.length);
            var view = new Uint8Array(ab);
            for (var i = 0; i < buf.length; ++

[2019-07-04 14:51] pieper commented on #65
Here's some code to generate an image instance from scratch.  The resulting file can be loaded in 3D Slicer, so it should be a good starting point for you:

https://github.com/dcmjs-org/dcmjs/blob/add-commander/examples/nodejs/generate.js

[2019-07-08 15:39] JamesAPetts opened #66 "PixelData for DICOMSEG is encoded incorrectly when frame length is not divisible by 8 for > 1 segment"
[This issue with DCMTK](https://github.com/QIICR/dcmqi/issues/341), which now looks like it is fixed, brought to my attention that perhaps we might be doing something similar in dcmjs, as segmentation support is still rather new.

We tested on series from TCIA that usually always has at least _either_ rows or columns as a power of 2 (we did actually test on non-square images).

For DICOMSEG creati

[2019-07-08 15:42] pieper commented on #66
Very good point - this has been on the back burner for a long time (hadn't come up in practice!)

[2019-07-08 16:01] JamesAPetts commented on #66
Same here, we only discovered it when dealing with some cropped images!

We can stack all the `pixelData` in a `Unit8Array` of length `segment frames * rows * columns` as we construct it,  then bitpack the whole thing at the end and store in the seg.

[2019-07-08 16:16] fedorov commented on #66
That is what DCMTK does, I believe. Might be a good idea to mirror organization of the DCMTK code and cross-reference it, to save effort both for you and the next person implementing this piece somewhere else. I believe this is the relevant commit with the fixes from DCMTK that should have the pointers: http://git.dcmtk.org/?p=dcmtk.git;a=commit;h=ba542273f8670f13fa222f414890849b1d1265b2.

[2019-07-08 16:17] pieper commented on #66
We should come up with some ways to automate testing across toolkits too.

[2019-07-08 16:25] fedorov commented on #66
@JamesAPetts in the table you put in the initial report, should it really be "segment(s)"? I think you are referring to "frame(s)".

[2019-07-08 16:32] JamesAPetts commented on #66
It actually is segments. We currently bitpack each segment's pixelData (mulitple frames) separately, so if only have one segment things are correct be for `rows * colums % 8 !== 0` images.

[2019-07-08 16:34] fedorov commented on #66
Ok - I asked because last time I tested this sample on some version of OHIF+dcmjs, it was not rendering correctly, but it was a while ago: https://github.com/QIICR/dcmqi/tree/master/data/segmentations/23x38x3. Did you test if this is working for you now as expected? I actually don't have a multi-segment synthetic dataset of that kind.

[2019-07-08 16:37] JamesAPetts commented on #66
Interesting, thanks for the link. I haven't tested that dataset, but we have an example of the single-segment-being-encoded-fine in a research project at my institution (I don't I can share that data though). I'll write the fix anyways, and then I will test your data on the patched version.

[2019-07-08 16:50] JamesAPetts commented on #66
WIP branch: #67

[2019-07-09 10:00] JamesAPetts commented on #66
@fedorov : Tested reading your data, I think [this](https://gfycat.com/celebratedtenderhackee) is satisfactory?

[2019-07-09 12:34] JamesAPetts commented on #66
I'll close this for now, as #67 fixes the immediate issue, but feel free to reopen if further discussion is needed.

[2019-07-09 12:34] #66 closed

[2019-07-22 21:33] videahealth-jeannei opened #69 "Is dcmjs production ready?"
Is this note in the readme still true?

`Note: this code is a work-in-progress and should not be used for production or clinical purposes`

I am looking for a javascript library for creating dcm files and most resources point to the library.

[2019-07-22 21:47] pieper commented on #69
I guess that really depends on your requirements and ability debug if anything goes wrong in the context of your use case.  Several of us make use of the code in various environments and generally it works well, but as you've probably seen it's in active development and it doesn't have as much testing as it should (you could say that about all code of course).

The biggest potential issue I imagin

[2019-07-22 22:11] videahealth-jeannei commented on #69
@pieper thanks for the quick response.

To be more specific I am trying to create a dcm file from a jpeg, png, tif file. So fortunately I won't have to worry about any quirkiness. Is this something I can accomplish with this lib? I was not able to find an example.

[2019-07-23 12:02] pieper commented on #69
Thanks - the extra specificity helps.  Yes, if you have a focused use case that's possible to test then then I would think this codebase is a good choice.  I don't have an example of converting image file to dicom, but this code [1] illustrates how to make a new instance from scratch.  You would need to figure out how to populate the fields to make a valid instance (probably a secondary capture or

[2019-07-30 09:43] JamesAPetts commented on #11
Fixed in #67 .

[2019-07-30 09:43] #11 closed

[2019-07-30 13:51] JamesAPetts opened #70 "Normalization makes writing adapters fiddly for multi-volume series"
(Related to #4)

Some scanners produce multi-volume series, whereby the instance number linearly increases, but there may be multiple volumes with e.g. different b-values or multiple phases.

Normalizers in `dcmjs` currently sort by `ImagePositionPatient`, such that if you have two sub volumes in the same series and your images are single-framed, `Normalizer.normalizeToDataset` returns a multifram

[2019-07-30 14:07] JamesAPetts commented on #70
Perhaps the best approach would be to not try to sort the given datasets at all, in general? But just concatenate them.

[2019-07-30 14:39] pieper commented on #70
What kind of scans do you have?  The idea of the Normalizers is that you have acquisition-specific subclasses that are currently [selected by SOPClassUID](https://github.com/dcmjs-org/dcmjs/blob/master/src/normalizers.js#L33).

But those are broad categories, so if you want to sort certain types of acquisitions in different ways we could come up with a plug-in model whereby different Normalizers c

[2019-07-30 15:38] JamesAPetts commented on #70
I'll see if I can share this data, its just `CT Image Storage`, with two phases in one series, stacked one after another in instance number.

[2019-07-30 21:14] pieper commented on #70
Yes, that should really be normalized to a legacy covered CT image with
correct dimension encoding.

To address Andrey's point, maybe we could come up with samples that
represent the essential structure of the data but with any identifiers
stripped (including image so it's a true safe harbor).

On Tue, Jul 30, 2019 at 8:38 AM James Petts <notifications@github.com>
wrote:

[2019-09-18 09:19] lam0620 commented on #65
Any body know how to convert DICOM dataset to json ?

"00080018" : {
"vr" : "UI",
"Value" : [
"1.3.12.2.1107.5.4.3.321890.19960124.162922.29"
]
},
"00080020" : {
"vr" : "DA",
"Value" : [
"19511013"
]
}......

[2019-09-18 13:46] pieper commented on #65
The example linked above does this, but using a dataset with names (a `namified` version of the dicom json model).

You can see a round trip from part10 to json model back to edited part10 here:

https://github.com/dcmjs-org/dcmjs/blob/add-commander/examples/nodejs/readwrite.js

[2019-09-20 07:53] lam0620 commented on #65
Thanks @pieper

Does dcmjs support convert dicom dataset to dicom json model ?
Same: http://dicom.nema.org/dicom/2013/output/chtml/part18/sect_F.4.html

[2019-09-20 12:38] pieper commented on #65
That should be `DicomDict.dict` in the example (I can't doublecheck right now - I'm away from my regular desk until next week).

https://github.com/dcmjs-org/dcmjs/blob/add-commander/examples/nodejs/readwrite.js#L9

What's your overall goal?  You can also look at the dicomweb-server code which works with that form.

[2019-09-27 02:05] lam0620 commented on #65
Thank you @pieper . Let me check.

My overall goal is
I'd like to convert  a dicom dataset responsed from DIMSE (use dimse-dicom package) to dicom json model for dicomweb client as ohif viewer react version.

[2019-09-27 12:48] pieper commented on #65
Sounds good @lam0620, let us know how it goes.

For reference, we are also looking at the option of building a DIMSE gateway on the server side as described in [this issue](https://github.com/dcmjs-org/dicomweb-server/issues/18).  We are leaning toward the dcmtk-node option since dimse-dicom isn't actively developed at the moment.

[2019-10-04 12:45] vimavis opened #76 "JPEG (STR Base64) to DICOM object"
Hi,
Is it possible parse JPEG (STR Base64) to DICOM object ??

Thanks in advance

[2019-10-04 13:00] pieper commented on #76
Hmm, not sure what you mean - if it's just a jpeg image then it won't have the metadata needed for a valid dicom, but you can fake it.  There's nothing in dcmjs to handle parsing jpeg or base64 strings.

[2019-10-04 13:00] #76 closed

[2019-10-04 13:05] vimavis commented on #76
Thanks @pieper for your answer

[2019-10-18 09:29] lam0620 commented on #65
Hi @pieper
1. I fixed my issues about converting dicom dataset to dicom json model by creating new code based on DicomMetaDictionary.denaturalizeDataset()

2. DIMSE gateway
I can not build use dimse-dicom yet, so I use OHIF meteor version to make a DIMSE gateway
- Remove unuse pakages, files from OHIF
- Add new restful APIs (QIDO, WADO-RS) => not sure right!!!
- Test work with OHIF react version <

[2019-10-25 00:10] emelalkim opened #77 "Support for single frame segmentation"
During our work with segmentation creation with @muakdogan, NormalizeMultiframe rejects single frame segmentations with "Single frame instance of multiframe class not supported" error message. We have seen use cases where people just want to segment single slice, whether to use as a seed for auto segmentation algorithms or as they are only interested in the largest section of the lesion. What is t

[2019-10-25 01:04] emelalkim opened #78 "Some RLE encoded segmentations cannot be read with readFile"
When you create a segmentation, by default it compresses with RLE encoding. But readFile doesn't recognize RLE Encoded transfer syntax and normalizes to EXPLICIT_LITTLE_ENDIAN. This causes "Range Error: Source is too large" error on some of the segmentations, not all of them. I uploaded a [sample segmentation](https://drive.google.com/open?id=1YQIBARbvUwy9Rp0ekbDs04RS0VHowdZN) that causes this err

[2019-10-25 14:05] pieper commented on #77
Looks like @swederik added this, but I'm not sure what the reasoning was.

https://github.com/dcmjs-org/dcmjs/blame/42a0a3d03b6eb14335e00392e0844c4bd41c50c5/src/normalizers.js#L294

Yes, we should certainly handle the case of a single slice segmentation because it does come up pretty often.

@emelalkim I suppose the best approach is to remove this if block and see what fails, and then we can decid

[2019-10-25 14:25] pieper commented on #78
Yes, makes sense.  Do you want to propose a fix?

[2019-10-25 14:55] pieper commented on #53
@cmcgee-mac can you try the changes proposed above?  If they work for OHIF SR STOW I think we should go ahead and fix anything else that needs it.

[2019-10-25 14:58] pieper commented on #53
Regarding the FL/FD issue cited above, @fedorov please create a new issue if you think it needs to be tracked here, but from our conversations it sounds like this is just a corner case in the standard that has no good solution but hasn't been proven to cause much practical harm.

[2019-10-25 15:19] cmcgee-mac commented on #53
@pieper I'm coming in from a specific case with the OHIF viewer. I can't easily test out changes with the dcmjs at the moment. I tried converting all "NumericValue" post-parse to Numbers and it's working well so far in the viewer.

[2019-10-25 16:06] pieper commented on #53
Okay, sound good.  That should still work even if (when) we make the change discussed here.

[2019-11-01 18:51] #53 closed

[2019-11-01 23:45] emelalkim commented on #78
I tried removing the normalization but it caused other issues. The reading code needs to be changed to handle RLE encoding. We decided not use RLE encoding right now, I'll try to take a look when I have time.

[2019-11-03 18:26] pieper commented on #78
Yes, that is good.  There's been a lot of discussion about how best to handle RLE and bitpacked seg objects most efficiently.

[2019-12-18 19:17] jssuttles opened #84 "toUTF8Array will convert ° into Â°"
When using the write function of DicomDict, writeString uses toUTF8Array. This function takes in the degree symbol and spits it out as 2 bytes. Is there something that I'm missing? I fixed this in my implementation by changing it to something like Buffer.from(str, 'binary') for Node.js.

[2019-12-18 19:25] pieper commented on #84
Hi - Can you provide test code to reproduce the issue?

[2019-12-18 20:17] jssuttles commented on #84
I've been building out reports with DICOM SR. So, in my specific case, the problem occurs in the ContentSequence of a DICOM SR. However, for example, let's say that you put a ° in the series description, as per the attached example DICOM file. (Github doesn't take DCM files, so it's a TXT.)

[IM-0001-0001.txt](https://github.com/dcmjs-org/dcmjs/files/3980284/IM-0001-0001.txt)

[code]

If you open

[2019-12-20 23:06] fedorov commented on #53
I just came across DICOM Supplement CP-1861 (ballot stage) related to this topic. Quoting that CP,

[2019-12-20 23:08] fedorov commented on #53
You may also want to follow the progress of "CP-1889 - Recently added OV, SV and UV VRs were not included in PS3.18 or PS3.19"

[2020-01-12 20:10] ikhwanafath opened #85 "Convert jpeg file ( .jpeg ) to dicom file ( .dcm )"
Hi, how to convert jpeg file ( .jpeg ) to dicom file ( .dcm ) ? or how to create dcm file from jpeg file step by step ? thanks for reply.

[2020-01-12 22:43] pieper commented on #85
Do you specifically need to do this in javascript?  If not, then [jpg2dcm](https://dcm4che.atlassian.net/wiki/spaces/d2/pages/1835023/jpg2dcm) executables would be easiest (or similar tools in other packages).  If you want javascript, you'll need to recreate that functionality, which shouldn't be too hard if you are comfortable with populating the headers like in the examples.

[2020-01-12 22:44] pieper commented on #85
If you do get it working it would be great for you to post the code.

[2020-01-13 02:27] ikhwanafath commented on #85
Thanks for reply, Yes, I need to do in javascript or node js like you source. But I cant found it.
for the example in C++,

If I want to recreate the functionality manually, then what should I do step by step ?
May be first, I must extract pixel .jpeg data, and then I use your library for fetch pixel data convert to dicom file.
Thanks for you suggest

[2020-01-13 20:36] pieper commented on #85
Basically in dcmjs you just populate a javascript object with the dicom data and then write it to a buffer that will be in part10 binary format.  It's not a widely used feature at the moment so the only example is in a branch that hasn't been integrated.

https://github.com/dcmjs-org/dcmjs/blob/c93d9589868fbbe48db37309c29b5f77fe4e76da/examples/nodejs/generate.js

This just adds some dummy image da

[2020-01-14 11:54] ikhwanafath commented on #85
Based on your code, Am I just save as do dcm file or not ? Thanks for ur reply

[2020-01-14 13:08] pieper commented on #85
Yes, the code I linked can be used to generate a dicom file.  But you would need to adapt it to handle jpg images.

[2020-01-15 08:35] ikhwanafath commented on #85
Hi, thanks for reply. Sorry but I dont know how to use it. For the example, if I have **example.jpg** file form load file, when I must to use it ?
Am I must to get the pixel image first and then convert like this ?

Am I right ? Thanks for reply..

[2020-01-15 16:10] pieper commented on #85
I haven't done that specific task myself, but I guess you could just render the jpg by making it the src or an img tag or drawing it to a canvas and reading back the results.  Then you just need to get it in the right form to assign it as the pixel data in the dicom object.  Let us know what you work out.

[2020-01-15 16:42] ikhwanafath commented on #85
Ok, I'll try it first. And give my result to you. Thanks

[2020-01-15 19:25] dannyrb commented on #85
Libraries that could help with grabbing jpeg pixels: `get-pixels`, `image-pixels`, `jimp`

[2020-01-15 19:31] pieper commented on #85
Also if you want to avoid rendering and reading back the pixels you might try [this pure js approach](https://www.npmjs.com/package/jpeg-js).

[2020-01-19 14:13] ikhwanafath commented on #85
Hi, I tried your code. The dcm file was load. But where must I put the get pixel jpeg ? I must fill the pixeldata with pixelData.fill( [ my pixel image ]) ?

[2020-01-19 16:09] pieper commented on #85
Sounds right. You can make a secondary capture instance with dcmtk to see
how the tags should look.

On Sun, Jan 19, 2020 at 2:13 PM ikhwanafath <notifications@github.com>
wrote:

[2020-01-20 22:22] ikhwanafath commented on #85
Hi pieper. I still confused. in my script, https://jsfiddle.net/ikhwana/vu8rq3wp/, where I must add or insert another jpeg image pixel to dcm pixel ?
Thanks.

[2020-01-27 08:42] swederik opened #86 "readFile failing on (some?) images with palette color LUTs"
While trying to fix https://github.com/OHIF/Viewers/issues/1350 I noticed that dcmjs fails to read the file that was provided. It loads fine with dicomParser.

[2020-02-05 19:30] pieper commented on #85
Hi @ikhwanafath - sorry I don't really have much time to help debug in detail.  If you haven't already solved it, what I would suggest you try is getting an existing secondary capture image, e.g. made with one of the tools we linked to above and parse it to look at the type of the PixelData (and some of the other attributes related image size and pixel format).  Then you can see about making your

[2020-02-17 06:48] ikhwanafath commented on #85
Hi pieper, Thanks for your time.
I have found the concept, but the result was abstract picture.
this is my code

argBuffer is buffer blob image, but failed . the image just retur black with white dot

[2020-02-17 19:04] MiguelSotelo2 opened #88 "RangeError: Offset is outside the bounds of the DataView"
The goal is to read the dicom, read patient health information, deidentify it (using the same number of characters, although that may not be necessary), and modify the dataSet tags with the new de-identified values

Following the instructions in https://github.com/dcmjs-org/dcmjs/issues/64:

[code]
Leads to:

Any help is greatly appreciated!

[2020-02-18 07:41] Subashree01 opened #89 "Insert DICOM Tag"
I need to Insert the new Tag Datas inside the DICOM files using Node js- dcmjs npm package. Currently I could able to insert the Tag's VR type, Tag ID, Tag Value and Tag Length, using the upsert tag.  Now i need to add the Tag Description also for the Tag Value. How can I do it?

 Currently I have used Below syntax in node API

router.post("/updateDicomTagDatas", function(req,res,next)
{
    var W

[2020-02-18 18:07] pieper commented on #89
I'm afraid it's more complicated than that...

If you are looking at Tag Description on a system that doesn't know about your private tag (it isn't in the receiver's dicom data dictrionary) then it has no way of knowing the description.  Private tags are ones where the group is an odd number and for yours the group is 0009, so by default nobody but you knows what the values mean.  The most it can

[2020-02-18 18:07] #89 closed

[2020-02-18 18:16] pieper commented on #88
Probably the data is ill-formed somehow, or otherwise something dcmjs doesn't handle (yet?).  The corrupted VR type is an obvious issue.

If you aren't working in a browser, then pydicom is a more mature solution.  Perhaps if you pre-process using pydicom you could more easily work with it in javascript.  (e.g. see https://slicer.readthedocs.io/en/latest/user_guide/module_dicompatcher.html)

[2020-02-20 04:31] Subashree01 commented on #89
@pieper
I have another Question, whenever I tried to write the tag datas inside the DICOM file using dcmjs npm. I can see that the rest of the tag datas are getting modified. I don't why this happens.

[2020-02-21 10:07] Subashree01 opened #90 "DICOM Tag Length are Modified using dcmjs"
I am using dcmjs package for inserting some new elements in Dicom files. New tag datas are inserted successfully, But the exisiting tag data say CTExposureSequence	 length is changing from 152 to -1.

Any one knows the cause of it?

**(0018,9321)  CTExposureSequence	SQ	1	102** || **(0018,9321)	CTExposureSequence	SQ	1	-1**

[2020-02-21 16:32] pieper commented on #90
The sequence should be losslessly preserved.  Maybe you can provide a small example script that replicates the issue on anonymous data so we can use it for testing.

[2020-02-21 18:07] pieper commented on #89
Sounds like this is related to your questions in #90.  Your testing is very helpful, so we should try to get this sorted out.  Can you try creating a simple example script + dataset to use for debugging?

[2020-02-21 18:46] MiguelSotelo2 commented on #88
You are correct. the data was ill-formatted. Thank you!

[2020-02-21 18:46] #88 closed

[2020-02-23 18:05] vsaase opened #91 "Text encoding, how to do it?"
Hi,
thanks for the library. I am having problems with string encodings, see this example:

[code]

What is the right way to write DICOM files with proper encoding? Reading DICOM files containing special characters which were created with pydicom (without explicitly specifying the character set) works well in my case.

[2020-02-23 18:46] vsaase commented on #91
I think the problem is here, strings are read byte by byte, which is not compatible with utf8:
https://github.com/dcmjs-org/dcmjs/blob/168a95401f1eac262a8488dd0d9be4a5482a83f0/src/BufferStream.js#L214-L225

[2020-02-23 20:14] vsaase commented on #91
fixed for my use-case with #92

[2020-02-24 11:08] rvantklooster commented on #89
I am running into the same kind of problem. I want to use dcmjs to read DICOM files, make some change to the headers and then write the new DICOM file to disk or blob.

I observed that Decimal Strings are not written properly to the output DICOM. I did some debugging and I noticed two things (example using tag (0018,0050), SliceThickness, DS, with value of 4.8):
- BufferStream::writeString is used

[2020-02-24 12:32] maxivau opened #93 "Is there a way to force-read a file if the DICM Tag in the header is missing?"
Hey. JS and DICOM noobie here. I am trying to parse the contents of files originating from two different RT-planning softwares.
With the DICOM files originating from software A there is no problem at all and i can get the values i need.
When i try to parse the headers of dicom files from software B i get the error "Error: Invalid a dicom file". It looks like planning software B alters the dicom he

[2020-02-24 14:59] pieper commented on #93
Looks like the [metaheader](http://dicom.nema.org/medical/dicom/current/output/chtml/part10/chapter_7.html#sect_7.1) is missing.

That's somewhat common and I know some other dicom software handles the missing metaheader automatically - perhaps dcmjs should as well, but it doesn't currently.

The [code in question](https://github.com/dcmjs-org/dcmjs/blob/7d89d1fcd76953eed27a8eaa1fb75ab449f87c19/sr

[2020-02-24 15:45] MiguelSotelo2 opened #95 "writing dicom to file results in corrupted pixel data"
The end goal is to read in the dicom, modify PHI from the header using strings of equal length as those in the tags, and modify the pixel data to remove PHI from pixels
I followed the instructions here https://github.com/dcmjs-org/dcmjs/issues/64

The input test image (contains PHI, so I will not upload it) is 97 frames, 600 rows, 800 columns, and 3 samples per pixel

From pydicom, header informat

[2020-02-24 16:15] MiguelSotelo2 commented on #95
In my limited knowledge, I notice that DicomDict.js assumes a specific transer syntax id (explicit little endian) while my file is JPEG Baseline (Process 1) (1.2.840.10008.1.2.4.50)

Thank you, once again!

[2020-02-24 20:02] pieper commented on #95
Hi @MiguelSotelo2 - I haven't used dcmjs with any jpeg image data myself, but I can easily suppose that there are problems.  If you can find some public data that can be used to replicate the issue it would be good to add it to the list for future regression testing (for now we are putting datasets here: https://github.com/dcmjs-org/data).

In the meantime, are there other clues to what has change

[2020-02-24 23:25] fedorov commented on #70
I can't see how you can go around parsing private attributes if you want to have happy imaging researchers. I have limited experience, but I think it might be ok to ignore those private fields to meet the needs of radiologists, but I would think OHIF et al want to address various quantitative analysis use cases which often cannot be addressed unless private attributes are parsed or normalized into

[2020-02-24 23:39] pieper commented on #70
The same problem will exist in any of our code intended to work with real-world dicom data where the scanner vendors embed important information in non-standard locations.  The only solution I know of is to hard-code workarounds for known cases and issue stern warnings when we see data that is not in a known format.  Ideally we'll be able to build an open-source knowledge base with example data ac

[2020-02-25 08:08] rvantklooster opened #96 "DecimalString are not correctly written to buffer"
I am working on anonymization of DICOM files and observed that Decimal Strings are not written properly to the output DICOM. I did some debugging and I noticed the following while testing with DICOM tag (0018,0050), SliceThickness, DS. If the input DICOM has a value of 4.8, then nothing if written to the output.

Dcmjs correctly reads the decimal 4.8 as Number from the input file. Then I use dicom

[2020-02-25 21:50] pieper commented on #96
Thanks for reporting the issue.

We should definitely fix the writing of the DS value.  If you have a chance, a simple test example or even a PR would be welcome.  If not that's fine - this issue serve as a reminder.

Regarding storing values in an array, the [dicom json model](http://dicom.nema.org/dicom/2013/output/chtml/part18/sect_F.2.html) always has values in arrays, but the 'naturalized' fo

[2020-03-05 21:44] pieper commented on #84
Hi @jssuttles - Sorry I haven't had time to look into this.  It sounds like an encoding issue that hasn't gotten much attention in dcmjs.  If you can suggest a solution that would be great.

[2020-03-06 01:43] pieper commented on #53
Related to #97 and #99.

[2020-03-09 13:54] jody-zeitler opened #100 "Release cycle/notes"
I've been waiting on a few bug fixes to make their way into an NPM release. Since 0.10.0 there has been a 0.10.1 NPM version with no accompanying Git tag, and then a 0.11.0 version with no apparent changes to source https://github.com/dcmjs-org/dcmjs/compare/v0.10.0...v0.11.0. It would be excellent if there were signed releases in Github that correspond to packages that are published to NPM, with

[2020-03-09 14:13] dannyrb commented on #100
:wave: Hi @jody-zeitler!

This repository has automatic release/versioning (and tagging) via CircleCI + Semantic Release. For that to trigger/work, commits (or merge commits) need to use the correct syntax, see:

https://semantic-release.gitbook.io/semantic-release/#commit-message-format

Unfortunately, it looks like on the last few merges, we did not update the merge commit to use the correct syn

[2020-03-09 14:27] pieper commented on #100
Hi @dannyrb could you update the readme with specific instructions?  (I must not have been paying attention, because I totally didn't know about or forgot this auto-release thing was set up!)

I have been doing these steps when it I want to update the package:

https://github.com/dcmjs-org/dcmjs#for-maintainers

[2020-03-09 14:27] dannyrb commented on #100
Going to re-open this. Maybe I'm spending too much time over in OHIF/Cornerstone land :sweat_smile:

It looks like, despite having CI in place, it's not quite doing the trick. I'll consider this an issue advocating for it to be fully implemented. See recent merge PRs:

https://app.circleci.com/jobs/github/dcmjs-org/dcmjs/95

[2020-03-09 14:45] pieper commented on #100
@jody-zeitler thanks for bringing this up, clearly we need to sort this out and get on the same page 😄

@dannyrb can we also turn on testing in the ci?

Would it just be adding `-run: npm test` after [this line](https://github.com/dcmjs-org/dcmjs/blob/master/.circleci/config.yml#L23)?

[2020-03-09 14:47] dannyrb commented on #100
@pieper we can enforce passing tests before merge of a PR is allowed. That would be a separate workflow.

[2020-03-09 15:05] dannyrb commented on #100
Tests now run on PRs:

![image](https://user-images.githubusercontent.com/5797588/76227300-7a99c100-61f5-11ea-9a79-6cbed3df451b.png)

Semantic versioning via Commit Messages in place:

- CI Workflow: https://app.circleci.com/pipelines/github/dcmjs-org/dcmjs/268/workflows/5eee11a8-6599-4f9e-b7fa-ba98dd6e1c07/jobs/101

![image](https://user-images.githubusercontent.com/5797588/76227546-d95f3a80-61f5

[2020-03-09 15:05] #100 closed

[2020-03-09 15:17] jody-zeitler commented on #100
Awesome thank you!

[2020-03-09 22:22] jssuttles commented on #84
The way that I'm currently handling it is to convert to latin1 instead of utf8.

[2020-03-10 01:17] pieper commented on #84
Would it be suitable for a pull request?

[2020-03-10 13:49] jssuttles commented on #84
As it is, it isn't suitable. I'm using Node Buffers which have the ability to convert to latin1 built in.
`Buffer.from(value, 'binary')`
The following shows something that does what looks like the equivalent for browsers:
![image](https://user-images.githubusercontent.com/8527741/76317923-513f6a80-62b3-11ea-9313-1a8024d1294c.png)
(The top on the node REPL side shows the default behavior which uses

[2020-03-10 13:58] pieper commented on #84
Hmm, no, I don't know enough to say for sure what the right answer is.

We could start an experimental pull request (title it starting with WIP) and include a test for this file.  Then we could compare the behavior against dcmtk, pydicom, pixelmed, etc and see how things compare.

These files from David Clunie could also be used for testing: http://www.dclunie.com/images/charset/index.html

[2020-03-11 02:34] ikhwanafath commented on #85
Hi Piper,, sorry , how about my question ? Thanks btw

[2020-03-11 14:21] pieper commented on #85
Hi - did you try my previous suggestions?

[2020-03-12 03:14] ikhwanafath commented on #85
Hi, yes, I did. in my comment, argBuffer is the pixelData buffer.

[2020-03-12 09:44] swederik opened #108 "Typo in Package module name (dcmje)"
https://github.com/dcmjs-org/dcmjs/blob/a614cac04efec0cb42de4d99ed258e98d015e4fc/package.json#L6

[2020-03-12 10:19] JamesAPetts opened #109 "We need a default export"
can't do `import dcmjs from 'dcmjs'` currently.

[2020-03-12 11:54] pieper commented on #109
Sounds very actionable.  Do you know the solution?

[2020-03-12 12:04] pieper commented on #108
Any reason not to just edit it in place?

[2020-03-12 12:46] pieper commented on #85
I meant did you create a valid secondary capture instance using dcmtk and load it in dcmjs and try writing it back out, something like [this test](https://github.com/dcmjs-org/dcmjs/blob/master/test/test_data.js#L137-L142).  You can first confirm that secondary captures can be losslessly read and written, and then adapt your code to match the format of the data before it's written out.

[2020-03-12 12:55] dannyrb commented on #108
The field is only used if you're using a bundler, and that file path resolves. If that's not the case, then it falls back to main.

Perfectly okay to edit in place. I'll do that now.

[2020-03-12 12:55] #108 closed

[2020-03-12 13:39] #109 closed

[2020-03-12 15:08] JamesAPetts commented on #109
@pieper Its trivial haha, I more wrote it as a note whilst in a meeting before I forgot. @dannyrb kindly made the PR!

[2020-03-13 07:46] ikhwanafath commented on #64
Hi Piper, after I used your code, i got the wrong image like this.

![2](https://user-images.githubusercontent.com/57029389/76600324-47c73400-6539-11ea-940b-621f623f5cd9.png)

As you can see, the image become red flag. How to fix it ? thanks

[2020-03-13 07:49] ikhwanafath commented on #64
![3](https://user-images.githubusercontent.com/57029389/76600527-b0161580-6539-11ea-8d16-4c84eefaf5ee.png)
This is the original dicom before edit tag with dcmjs.
Note : the orange color is cencored. Cause that is my face

[2020-03-13 08:18] ikhwanafath commented on #64
this is after naturalizedataset

[code]

this's after denaturalizedataset, not found meta its ok ?
[code]

[2020-03-13 11:01] ikhwanafath commented on #85
Hi @pieper , I want it, but I need it with javascript or node js ( if can ) . First, I have get pixeldata image. So what should I do for next ?
Just for the information, I want to convert JPEG with 1200x720 pixels.
Could you please what the next step to convert it to dicom file ?

[2020-03-13 11:32] ikhwanafath opened #111 "Naturalize and DenaturalizeDataset failed image result"
Hi Piper, after I used your code, i got the wrong image like this.

![2](https://user-images.githubusercontent.com/57029389/76600324-47c73400-6539-11ea-940b-621f623f5cd9.png)

As you can see, the image become red flag. How to fix it ? thanks

_Originally posted by @ikhwanafath in https://github.com/dcmjs-org/dcmjs/issues/64#issuecomment-598593301_

[2020-03-13 11:33] ikhwanafath commented on #111
https://github.com/dcmjs-org/dcmjs/issues/64#issuecomment-598594254

Thats the image dicom from

[2020-03-16 01:54] Zaid-Safadi opened #113 "STOW-RS is not encoding the "Content-Type" according to standard"
In OHIF viewer the store measurements is failing when storing to DICOMlcoud server. see [this issue](https://github.com/DICOMcloud/DICOMcloud/issues/89) for reference.

I traced this and it is caused by the server not recognizing the "Content-Type" header ( Built-in .NET library) because it is not not formatted properly.

For STOW-RS, the Content-Type is being sent as:
`Content-Type: multipart/rel

[2020-03-17 10:48] rvantklooster commented on #89
Should be fixed by https://github.com/dcmjs-org/dcmjs/issues/96

[2020-03-24 15:21] JamesAPetts opened #114 "Should natruralizing datasets unpack Overlay data/ RedPaletteColorLookupTableData, etc."
RE: https://github.com/OHIF/Viewers/pull/1546

If a tag is a bitpacked array, or an inline binary, should it be the naturalizer's responsibility to unpack/decode this?

seems more _natural_.

Obviously if data references a `BulkDataURI` it should not be dcmjs' responsibility to fetch this.

[2020-03-24 15:28] pieper commented on #114
Yes, makes sense.  Can you add a link to an example dataset (maybe put it on dcmjs-org/data).

[2020-04-07 12:44] JoosaT opened #115 "PixelRepresentation tag lost when saving an image"
When DICOM image is read, written, and reread, ''PixelRepresentation' tag is lost. Produced image is otherwise valid and similar to the original image.

[code]

[2020-04-08 05:45] JoosaT commented on #115
Simple workaround:

[code]

[2020-04-08 14:24] pieper commented on #115
Hi @JoosaT  - I haven't had time to look into this yet, but we should definitely fix this - thanks for the report 👍

If you have a chance it would be great to add this to the test scripts.  Any chance you could generate a PR?

[2020-04-15 06:14] JoosaT commented on #115
This also happened with RescaleIntercept tag when the value was 0. Apparently this happens to all tags with zero value!

[2020-04-16 06:32] JoosaT commented on #115
Do I need to be added as a collaborator to create a branch to fix this?

Anyway, I think that this needs to be fixed in DicomMetaDictionary.denaturalizeDataset():

[code]

It should be:

`if (dataValue === undefined)`

[2020-04-16 14:33] pieper commented on #115
Hi @JamesAPetts - thanks for digging in!

You can just fork the repository into your account, create a branch with the suggested fix, and then make a pull request (include a reference to this issue using the hash character followed by the issue number so the records are linked).  Then we can test and integrate it.

[2020-04-21 19:31] #115 closed

[2020-04-21 19:32] pieper commented on #115
Thanks 👍

[2020-05-06 16:51] pieper opened #120 "json test failing"
@emelalkim noticed that running `npm run test` currently generates this error:

[code]

@dannyrb it seems to be this code - can you take a look?

https://github.com/dcmjs-org/dcmjs/commit/44174870cc5f897245167ecc7934b2e81a8a2c90#diff-0ec190c23ae4f18147d1e71ccf95417aR123-R133

[2020-05-28 14:45] ChrisWoodlief opened #125 "dcmjs.data.DicomMessage.readFile() fails for certain dicom SR"
Hi, we have been using the dcmjs.data.DicomMessage.readFile function on Dicom SRs. We have found a case where other dicom parsing solutions like [Dicom Parser](https://rawgit.com/cornerstonejs/dicomParser/master/examples/dumpWithDataDictionary/index.html) and RadiAnt DICOM Viewer are able to parse the file correctly. But dcmjs is having an issue. Here is how we are using DicomMessage.readFile:

<i

[2020-05-28 18:18] pieper commented on #125
Thanks for reporting the issue and supplying the data.  I took a quick look but don't really have time to dig in right now.  Did you try stepping through in the debugger?  If you can host a little site off of github that serves the file and tries to read it with dcmjs it would be easier to dig into.

[2020-05-28 19:48] ChrisWoodlief commented on #125
Hi @pieper !

We have tried stepping through in a debugger but once we were really deep into the dcmjs library it became a bit harder to understand the root cause of the issue. From what we have seen it seems like the reading of the tag 0040,A073 is not terminating and the reading goes past the end of the file.

Here is an off site example we made linked up to the file posted above.
https://jsfidd

[2020-05-28 22:17] pieper commented on #125
Hmm, yes, looks like maybe it's not handling nested sequences well.  You said you have similar SR files that can be read?  Did you see any obvious differences?   Maybe you can share a similar one that does work.

I inherited this code and it's worked well with a whole lot of datasets and I would have thought that all nested sequences would be basically the same, but I guess there's something uniqu

[2020-05-29 14:07] jssuttles commented on #125
Hi @pieper, I work together with @ChrisWoodlief.
To be able to post this DICOM here, we needed to anonymize it. When we ran it through a DICOM Editor tool (https://www.dvtk.org/dicom/editor/), the tool added a few characters to that area. Afterwards, when we tried to read the file with dcmjs, it worked. To produce the anonymized dicom as posted, we edited the DICOM as text making sure to alter jus

[2020-05-29 20:15] pieper commented on #125
Very interesting - nice detective work 👍 Looks like when you ran the editor it added in the [delimitation items](http://dicom.nema.org/medical/dicom/current/output/chtml/part05/sect_7.5.html) that were apparently missing in the original.  I guess the other dicom libraries are more robust at handling the original variant than dcmjs.

With these clues is there any chance you'd want to try a PR?  I'd

[2020-05-29 23:15] jssuttles commented on #125
Do you have a way to run dcmjs through a suite of test datasets?
I was hoping that someone else that was familiar with the code could fix it. The area is not commented and reading bytes is an utter pain. But I'm looking into it.
What I've gathered is that the DICOM is not valid by that doc because it opens an empty item but does not close it. Instead it just closes the enclosing Sequence item.

[2020-05-30 20:06] pieper commented on #125
Thanks for digging in - yes, I also did some debugging and I feel your pain.  Unfortunately the original developer moved on so it hasn't been touched in quite a while.

In terms of testing, you can follow the pattern in [test_data.js](https://github.com/dcmjs-org/dcmjs/blob/master/test/test_data.js) to add a test that will run with `npm run test`, but no debugger.  Otherwise just a locally hosted

[2020-06-01 18:34] jssuttles commented on #125
So, I guess FUJI sometimes creates empty length SQ items. This is counter to the delimitation items page that you posted. An SQ item should have a start and an end. These have a start, a length of zero, and no end. The way that dicomParser handles this is that the parser processes what it's reading as it goes, whereas dcmjs reads what it thinks it needs to read, and then shunts the processing of t

[2020-06-01 18:49] pieper commented on #125
If you think they are coming up in real life then we should try to support it.  I hate to see a lot of workarounds in the code but sometimes you can't avoid it.

[2020-06-01 19:03] jssuttles commented on #125
We work on a real application where dcmjs is reading and writing files, and this file came up and caused an issue.
Maybe I'll leave more comments.

[2020-06-01 19:53] pieper commented on #125
If you can generate a PR with some extra comments that's great.  I did take a quick look and can see how missing end-tags would mess up the logic.  I hope there's a clean fix.

[2020-06-01 19:57] jssuttles commented on #125
https://github.com/dcmjs-org/dcmjs/pull/126

[2020-06-02 15:24] ChrisWoodlief commented on #125
Tested and this looks good @jssuttles ! I am closing this issue

[2020-06-02 15:24] #125 closed

[2020-06-12 02:21] ikhwanafath commented on #111
Hallo,, any answer ?

[2020-06-12 13:53] pieper commented on #111
Hi @ikhwanafath - I haven't had a chance to look at this - secondary captures are not something I've used dcmjs for, but I agree it would be good to fix this.  Have you looked at the dicom dumps (e.g. use dcmdump from dcmtk) to see what changed?  Why don't you post the before and after dumps, the dicom files, and the exact code you used so we can all look at it and figure out what's going on.  Thi

[2020-06-25 13:53] florianlink opened #130 "Null terminated strings are not read correctly"
I know that the DICOM standard says that strings in PN, CS etc. should be padded with spaces. But I regularly get DICOM files that use a 0 char code for padding of the strings. This causes a Dicom Tag in dcmjs to have the trailing 0 char code at the end of the string.

I noticed code in ValueRepresentation.js PersonName that is uncommented, but I think this applies to most string VRs and should be

[2020-06-25 14:34] pieper commented on #130
Thanks for reporting 👍

Can you provide an example file for testing? (ideally add it to https://github.com/dcmjs-org/data).

p.s. Hi Forian, hope you are well!

[2020-06-25 14:50] florianlink commented on #130
As always, I can‘t easily share the data... will try to create one
artificially...

P.S. thanks I‘m fine, working on client side dicom anonymization before
uploading...

On Thu 25. Jun 2020 at 16:35, Steve Pieper <notifications@github.com> wrote:

[2020-06-25 15:31] pieper commented on #130
Yes, a synthetic example would be fine.

@swederik and I are also working on deid scripts in javascript - it would be fun to coordinate if possible.

[2020-06-30 13:23] florianlink commented on #130
I created an artificial DCM file, you can use it without restrictions (I don't know how to add it to the data repository)
[testZeroPaddedPatientName.zip](https://github.com/dcmjs-org/dcmjs/files/4852068/testZeroPaddedPatientName.zip)

The PatientName of the file contains 0x00 padding instead of 0x20 (space) padding, which is not correct according to the DICOM standard, but nevertheless occurs in D

[2020-06-30 13:59] florianlink commented on #84
This is actually a big issue, maybe one of the biggest that are not yet addressed in dcmjs...

What you have to do is:

a) When reading a DICOM file:

- look at SpecificCharacterSet (0008,0005) attribute and decode all VRs that support is with the given characterset, store the result as unicode string in JavaScript

- The alternative would be to only read unmodified bytes and keep as UInt8ArrayBuf

[2020-06-30 16:25] florianlink commented on #84
https://encoding.spec.whatwg.org/

The TextEncoder and TextDecoder seem to support various encodings, probably most of the specific charsets from Dicom. Only drawback is missing support for older browsers (and TextEncoder is a problem on Safari). There are some polyfills, but they look a bit unmaintained (like 3 years last commit).

[2020-06-30 19:26] pieper commented on #84
Thanks for the explanation and research @florianlink 👍

Your interpretation sounds good to me.  For my purposes I think using UTF-8 whenever possible makes perfect sense.  [caniuse](https://caniuse.com/#feat=textencoder) indicates that Text{En,De}coder should be good to use on most modern platforms.

[2020-06-30 19:44] florianlink commented on #84
I will see if I can get resources to work on this...

On Tue 30. Jun 2020 at 21:27, Steve Pieper <notifications@github.com> wrote:

[2020-06-30 20:07] pieper commented on #130
Thank you - I've added the data as a release asset https://github.com/dcmjs-org/data/releases

[2020-07-01 11:03] jenhaoyang opened #131 "Should I add ArrowAnnotate into index.js?"
I see dcmjs already have ArrowAnnotate.js, is ArrowAnnotate ready to use?
https://github.com/dcmjs-org/dcmjs/blob/0e1e2921e953bde8f4707b025f584a6c558ffedd/src/adapters/Cornerstone/index.js#L9-L16

[2020-07-01 13:54] JamesAPetts commented on #131
Hey, I also just noticed this, its not exposed here if you need the class: https://github.com/dcmjs-org/dcmjs/pull/132

[2020-07-01 13:54] #131 closed

[2020-07-01 14:02] JamesAPetts commented on #113
I think this issue is likely inside [dicomweb-client](https://github.com/dcmjs-org/dicomweb-client), not `dcmjs`?

[2020-07-01 14:03] JamesAPetts commented on #113
Oh no, it likely is in `dcmjs`, my mistake.

[2020-07-01 14:31] pieper commented on #113
Is there an easy way to replicate this issue?

[2020-07-08 04:01] Zaid-Safadi commented on #113
Hey @pieper , you can use the public endpoint of [DICOMcloud](http://dicomcloud.azurewebsites.net/swagger/#!/Studies/StowRS_Post2) to replicate this with OHIF when saving Measurements via SR.
http://dicomcloud.azurewebsites.net/api/studies

[2020-07-14 07:56] florianlink commented on #84
I think I will get some funding to do this, but am on holidays the next three weeks.
So I plan to tackle the SpecificCharacterSet handing in dcmjs starting the second week of August.
I will provide a pull request when I have something to share and will write unit tests using David Clunies example datasets.
Can we place those datasets into the dcmjs test data repository, or is that a licensing prob

[2020-07-14 17:48] pieper commented on #84
That's great new @florianlink 👍

I added David's examples: https://github.com/dcmjs-org/data/releases

For testing `jest` looks really good.

Enjoy vacation!

[2020-07-16 07:38] jenhaoyang opened #137 "Implement Adapter of Cornerstone Rectangle Annotation"
I am new to DICOM and I need some guide.
I want to Implement rectangle annotation by following the pattern of EllipticalRoi.js in

dcmjs/src/adapters/Cornerstone/EllipticalRoi.js.

Is there any related resource will help to Implement Rectangle Annotation or the imformation in the EllipticalRoi.js is enough?

[2020-07-16 15:00] pieper commented on #137
yes, I think that would make sense.  @JamesAPetts has been working on that and may have suggestions.

Refer to this document for guidance:

https://docs.google.com/document/d/1bR6m7foTCzofoZKeIRN5YreBrkjgMcBfNA7r9wXEGR4/edit#heading=h.zfhnzramjbpv

[2020-07-16 15:00] #137 closed

[2020-07-27 01:39] Yuj1010 opened #141 "Does dcmjs support the modification of DICOM file tags? And ,Is there any more detailed documentation about dcmjs?"

[2020-07-27 14:50] pieper commented on #141
I'm afraid there's not much documentation beyond the examples.  Contributions welcome of course  😉

Changing the tags is simply a matter of assigning values in the dataset object.  They must be valid names and types from the data dictionary for a valid conversion back to part10 form.

Here's an example:

https://github.com/dcmjs-org/dcmjs/commit/c93d9589868fbbe48db37309c29b5f77fe4e76da#diff-7fa86c

[2020-07-31 10:18] jenhaoyang commented on #137
@JamesAPetts  I saw these implement hints from dcmjs/src/utilities/TID300/index.js. But I am not clear about those hint, could you explain more detail?
Is that are the Hierarchy I need to implement in dcmjs/src/utilities/TID300/Rectangle.js like dcmjs/src/utilities/TID300/Ellipse.js do?
I saw  "Graphic Type: POLYLINE" and I wondering Rectangle.js should change Graphic Type to POLYLINE. But what is

[2020-08-05 04:29] jenhaoyang opened #143 "Need Some Clue for Implement Adapter of Cornerstone Rectangle Annotation"
I saw these implement hints from dcmjs/src/utilities/TID300/index.js. But I am not clear about those hint, could you explain more detail?
Is that are the Hierarchy I need to implement in dcmjs/src/utilities/TID300/Rectangle.js like dcmjs/src/utilities/TID300/Ellipse.js do?
I saw  "Graphic Type: POLYLINE" and I wondering Rectangle.js should change Graphic Type to POLYLINE. But what is the meaning o

[2020-08-13 03:47] KhyatiMehta3 opened #144 "_image.data is undefined"
Hello!
I'm trying to write a segmentation drawing extension tool over OHIF Viewer.
I'm referring to [this](https://dcmjs.netlify.app/createsegmentation/) example, to get the Part10 dcmjs representation of the segmentation.
In the example [this image promise](https://github.com/dcmjs-org/dcmjs/blob/7bea0d9524582c8551a5cdc0e82e3badb69b8f0c/examples/createSegmentation/index.html#L173) returns the ima

[2020-08-18 20:57] pieper commented on #144
Hi @KhyatiMehta3  - it's hard to know from your screenshots.  Are you planning to make your implementation available?  It would be great if you could do that, and start by making a pull request so that others can try your code and maybe help debug it.

It can be tricky to work on features like this that require possible changes to both dcmjs and ohif, but it's possible to set up an environment for

[2020-08-19 19:28] KhyatiMehta3 commented on #144
Hi @pieper thank you for your response! I'll send a PR. and refer this issue there as well.

[2020-08-28 19:25] jmhmd opened #145 "Reading encapsulated pixel data?"
I'm trying to load a multiframe US with JPEG compression, and finding that only the first frame is loaded into the dataset. Is this my error or is loading encapsulated data with undefined length not supported yet? I can provide an example image if needed.

[2020-08-28 20:18] pieper commented on #145
Hi @jmhmd no, I don't think this has come up previously, so it's probably not implemented and yes, and example dataset would be helpful.  I can't promise anyone can work on it unless it's in their personal critical path.  Maybe it's not a big change if you step through in a debugger.

[2020-08-28 20:29] jmhmd commented on #145
I found what I think is the relevant code from dicomParser, so I may take a crack at porting it. It will probably need review when done by more experienced eyes.

[2020-08-28 21:07] pieper commented on #145
That sounds great. 👍

 You'll see that dcmjs has a minimal [test suite](https://github.com/dcmjs-org/dcmjs/blob/master/test/test_data.js) and it would be great to add something there.  There's also the [data](https://github.com/dcmjs-org/data) repo to put the data.

[2020-09-07 19:54] jmhmd commented on #145
Hi @pieper, I have a pull request submitted (#147) which includes a simple test. I am not sure if I have permission to add a release on the data repo, but I do have a test instance which is referenced locally in the test. If you can help me get the file into the repo I can update the PR to use the remote data.

[2020-09-10 16:38] pieper commented on #145
Sorry, I merged before reading this.  I added you to the data repository.  Having the test data will be great.

[2020-09-11 17:23] sinanmb commented on #144
Hi @helghast79 , @KhyatiMehta3 , I'm facing the same problem, have you found a way to address it?

[2020-09-11 20:43] pieper commented on #144
I'm not sure myself, that sounds like a cornerstone issue with the ways the segmentation tool is implemented.

Segmentation display is working in OHIF with cornerstone and vtk.js, so maybe looking at that implementation will help.  Segmentation creation is not yet in OHIF, just in a few demos like the one in dcmjs.

https://viewer.ohif.org/viewer/1.2.826.0.13854362241694438965858641723883466450351

[2020-09-17 13:57] helghast79 commented on #144
Hello @pieper and all,

I don't think it as anything to do with the segmentation tool since the data property exists in the images object even without the segmentation extension. If I use the imageIds from [this](https://dcmjs.netlify.app/createsegmentationrleroundtrip/) example which have a "dicomweb" loader prefix then the data property is there in any version of Ohif viewer I have tried.
On the

[2020-09-19 18:52] sinanmb commented on #144
Hi @helghast79, thank you so much for your detailed answer! I'll try your approach soon.

[2020-09-21 13:16] Dev-Now commented on #113
@Zaid-Safadi @JamesAPetts This is actually in [dicomweb-client/src/api.js](https://github.com/dcmjs-org/dicomweb-client/blob/bdb65e77a8ad636b12385c4f378d3920f24b1aea/src/api.js#L1495).

[2020-09-22 21:44] sinanmb commented on #144
Hi @helghast79, I have tried your solution and it allowed me to advance further however as you mentioned there was an issue with labelmaps3D. Should I use a similar logic to fill in labelmaps3D with the dataset?

[2020-09-24 12:47] helghast79 commented on #144
Hello Sinan,

I don't know exactly what's the problem with your labelMaps3D but probably is the lack of metadata associated with each individual labelMap3d. These should be set according to the specifics of each segment before running dcmjs generateSegmentation function. You can however, mock this data with something like:

[code]
(took it from generateMockMetadata function from [here](https://dcm

[2020-10-07 22:17] sinanmb commented on #144
Thank you very much @helghast79 for taking the time to provide detailed explanations!

[2020-11-05 15:48] sinanmb commented on #144
Hi @helghast79, it seems there's an issue with the segmentations not being loaded on the right image. Here's what I did:

Created a segmentation in a series on the first and fifth images. Saved the segmentation thanks to your updated logic then imported the segmentations in Orthanc. After that I visited the series again in OHIF Viewer and I noticed the segmentation were displayed on the last and f

[2020-11-16 12:05] helghast79 commented on #144
Hello @sinanmb, I could not replicate this issue on any of my images set. So I'm just guessing here. Maybe some particular issue between the Dicom loader ordering and the ordering mechanism dcmjs uses. Most certainly the problem should be on saving the segmentation file and not on loading it. Some more details could help to figure out the reason behind this behaviour. Also, the code you use could

[2020-11-17 11:25] helghast79 commented on #144
finally, I could replicate your issue @sinanmb. While making the pull request I made changes to source code and build dcmjs plugin. The release file then contained a lot of changes from the dcmjs plugin included in Ohif viewer, which was the one I've modified with the GenerateSegmentationFromDatasets function. So, I can't really tell whats going on with this newer version of dcmjs but seems that s

[2020-11-17 21:51] sinanmb commented on #144
Hi @helghast79, thank you for getting back to me! Yes that is the problem I was facing. The way I have fixed the issue was to add this line: `ReferencedSeriesSequence.ReferencedInstanceSequence.reverse();` inside the '_addPerFrameFunctionalGroups' function, in the file src/derivations/Segmentation.js

I feel it's a bit hacky though.

[2020-11-21 10:10] helghast79 commented on #144
@sinanmb, you could do that but then the `ReferencedInstanceSequence` series would always be reversed even when it's not supposed to. For example, if you have 2 segments, the `_addPerFrameFunctionalGroups` function will run twice and then the first segment will be in correct order and the other will be inverted. But actually, your fix gave me the hint of where the problem might be, since my modifi

[2020-11-24 04:05] sinanmb commented on #144
Thank you @helghast79 for letting me know! I will try your solution soon.

[2021-01-06 16:01] vanossj opened #157 "inPlane undefined"
https://github.com/dcmjs-org/dcmjs/blob/7f16bc52a2a8af8fde9a67510774f5d539ebe747/src/adapters/Cornerstone/Segmentation_4X.js#L659

Several times in this file `inPlane` is set to false without first being defined. But this variable also don't seem to be used.

[2021-01-07 21:28] pieper commented on #157
@JamesAPetts can these `inPlane` statements be removed?

[2021-01-07 22:08] JamesAPetts commented on #157
Hmm, yeah it all appears to be placehold/ for stuff that was never implemented, I'm not against them being removed.

[2021-01-13 04:59] dpedranti opened #158 "writeBytes using encapsulated files with lots of frames crashes the browser"
Hi,

I'm doing a write() after a data.DicomMessage.readFile and Chrome will freeze up and crash if I use it on larger Dicom files with encapsulated pixel data and lots of frames.  Works great with other images that are big in size.

The file that failed is 117.3 MB with 120 frames.

The issue seems to happen in the for loop on line 258 here: https://github.com/dcmjs-org/dcmjs/blob/master/src/Value

[2021-01-13 05:01] dpedranti opened #159 "writeBytes is crashing the browser when using encapsulated files with lots of frames"
Hi,

I'm doing a write() after a data.DicomMessage.readFile and Chrome will freeze up and crash if I use it on larger Dicom files with encapsulated pixel data and lots of frames.  Works great with other images that are big in size.

The file that failed is 117.3 MB with 120 frames.

The issue seems to happen in the for loop on line 258 here: https://github.com/dcmjs-org/dcmjs/blob/master/src/Value

[2021-01-13 05:01] #158 closed

[2021-01-13 05:02] dpedranti commented on #158
Sorry.  Created a duplicate of this issue by accident.

[2021-01-13 14:39] pieper commented on #158
No worries - same thing happened to me yesterday creating issues - got 404 on submit but the issue actually had been created so it was some kind of github glitch.

[2021-01-13 14:41] pieper commented on #159
Thanks for the report.  It would really help if you could provide a way to replicate this issue (i.e. sample data and test code to reproduce).  That way it can be profiled and debugged.

[2021-01-15 05:33] dpedranti commented on #159
Sure!  And thank you.  Here's a sample image that has encapsulated pixel data and 120 frames:
https://oculusstoragestaging.blob.core.windows.net/error-testing/IM-0001-0010.dcm?sv=2019-12-12&st=2021-01-11T14%3A29%3A14Z&se=2021-02-11T14%3A29%3A00Z&sr=b&sp=r&sig=94kfZANKkjjd1q4GsgMaDkPG8vSEoHKTwQk6vG3A6s0%3D

Here's the code snippet where the problem occurs.  Passing in the arrayBuffer of the aforeme

[2021-01-16 08:59] WoonchanCho commented on #159
This is caused by too many BufferStream's "concat" method call to concatenate fragmented binary stream when dealing with a multiframe image, resulting in too many times of ArrayBuffer creation. This leads to O(n^2) on the memory (& time) complexity of writing DICOM data.

The optimization is needed. I just quickly changed the part of source and am seeing an improvement of the performance.
On my la

[2021-01-17 03:21] dpedranti commented on #159
Thank you very much!  dcmjs is a great library and this fix will really help when working with multiframe images.

[2021-01-18 04:59] WoonchanCho commented on #159
I've just raised a PR : #160.
Hopefully, pieper or anohter maintainer review it soon.
If you just want to do an immediate test, you can clone my forked repo at https://github.com/WoonchanCho/dcmjs.

Thank you.

[2021-01-19 04:42] WoonchanCho opened #161 "DicomDict.write fails when a Sequence tag a OW type."
Hi,
I am recently engaged in a project that uses the dcmjs library.
This is really a great project. I am enjoying playing with this library.

I have one question about the error I am getting when writing (DicomDict.write) a new image after modifying some tags.
This error seems to happens only when there is an OW typed tag inside a SQ tag.
And the location of error is seemingly the line 247 of http

[2021-01-19 20:46] pieper commented on #161
It looks like this is in some code from @jmhmd - maybe you could have a look Jason?

[2021-01-19 21:45] ejcurtis opened #162 "Enable a force write option for files with abnormal VRs"
Hi all, I am a developer on the Dicom Standard Browser. We are using dcmjs to view and edit .dcm files in the browser. At the moment, the only files we can do this with are those that pass all of the VR validation in [this file](https://github.com/dcmjs-org/dcmjs/blob/09cea9d2b1819a937ecdd1b81aec2f51766a2446/src/ValueRepresentation.js#L157). Some of the files we are manipulating have abnormal VR's

[2021-01-19 22:06] johndgiese commented on #162
Hey @pieper, I hope you're doing well.

In addition to the ability to write an invalid file, we also were hoping validate dcmjs DicomDicts somehow. Can you confirm that neither of these features are present in `dcmjs`? Also, do you think one or both of these features would be appropriate to include within `dcmjs`?  If so, we may put together a PR to add this functionality to the library.

[2021-01-19 22:50] pieper commented on #162
👋  @johndgiese and @ejcurtis - yes, I think if it's exposed in an options object with a name like `allowInvalidVRLength` that is false by default we should be fine.  It's always a tough call to support non-standard formats but since you are just trying to work losslessly with existing fields it makes sense.

When you say validating DicomDicts do you mean something like [dciodvfy](http://dclunie.co

[2021-01-19 23:00] johndgiese commented on #162
Thanks @pieper , we'll checkout the `allowInvalidVRLength` option. I was actually thinking of just basic VR validation, but something more sophisticated like [http://dclunie.com/dicom3tools/dciodvfy.html](dciodvfy) would be even better. I think for our first version of our DICOM editor we'll skip validation. Perhaps if the feature is widely used we'll consider adding it later.

Thanks for the quic

[2021-01-19 23:29] pieper commented on #162
Sounds good @johndgiese.  I've often thought we could do a json schema for this but never took it past the concept stage.  Looking forward to seeing your editor someday.

[2021-01-20 01:35] WoonchanCho commented on #161
Thank you so much for your comment, @pieper.
Hi @jmhmd, I think I found the cause of the issue.
The following is the brief call structure for the write method.
DicomMessage.write
    (... for all tags) Tag.write (with the writeOptions parameter)
          ValueRepresentation.writeBytes (with the writeOptions parameter)

The problem happens when the SQ type (SequenceOfItems) is handled.
SequenceOfI

[2021-01-20 01:50] WoonchanCho commented on #162
Sounds great, I also wanted dcmjs to have an option like "allowInvalidVRLength".
The DICOM standard keeps evolving and this makes issue sometimes. For example, The current DICOM standard allows TM type to contain 14 bytes maximum but it was 16 bytes maximum by 2017. This caused the "Value exceeds  max length" error in the old DICOM file.

Thank you so much.

[2021-01-20 13:19] ejcurtis commented on #162
Thank you all for the quick responses! I am excited to continue to explore the `allowInvalidVRLength` option. I look forward to keeping in touch.

[2021-01-20 13:49] pieper commented on #162
Glad to see progress on this!  It would be great if you could keep example instances that represent edge cases that need to be handled.  So far we have [this data repository](https://github.com/dcmjs-org/data) and are hoping to be able to host a [DICOMweb store instance](https://github.com/pieper/dicomzoo) where they can be made available for CI testing.  We're trying to find a way to capture ad h

[2021-01-20 15:00] ejcurtis commented on #162
@pieper I would be happy to share our DICOM file that presented the error discussed. @johndgiese is this file able to be shared (i.e. has no PII) with [this data repository](https://github.com/dcmjs-org/data)?

[2021-01-20 15:16] johndgiese commented on #162
@ejcurtis I'm pretty sure it doesn't, but I'd check in the editor as well as with Russell.

[2021-01-20 20:28] ejcurtis commented on #162
Hey @pieper, I was just working on uploading the CT file that caused the error we were discussing to dcmjs-org data, but I do not have access rights to upload a file. Would you like me to email you the file or grant me access to the repo?

[2021-01-20 21:03] ejcurtis commented on #162
Thanks @pieper, I pushed a pr for the new file in case you wanted to approve before committing it to master.

[2021-01-24 02:21] dpedranti commented on #159
@pieper
When do you anticipate this commit/fix will be released?

[2021-01-26 17:53] pieper commented on #159
Good question - I forgot that we should have started the commit message with something like: "fix(writeBytes)" so that it would trigger the automatic release.

https://github.com/dcmjs-org/dcmjs#for-maintainers

I have to admit I haven't used this auto-release mechanism much, but I believe I can just put in a new commit with the correct format to trigger the release process.  Let's see if that wor

[2021-01-26 17:58] pieper commented on #159
Yes, it did.

https://github.com/dcmjs-org/dcmjs/releases/tag/v0.17.1

[2021-01-26 17:58] #159 closed

[2021-01-27 19:52] WoonchanCho commented on #161
I see this fix is merged into master repo. So, I will close this one.
Thank you so much.

[2021-01-27 19:52] #161 closed

[2021-01-28 04:49] WoonchanCho opened #163 "JSDoc and typescript declaration file (*.d.ts)"
Hi @pieper and other maintainers,
Thank you so much for initiating and maintaining this great project.
I am trying to test this library out as much as I can in our team's projects and enjoy using it now.

This is not a production issue at all but a kind of improvement suggestion.
As you know, the source code itself is not fully documented.
It would be great to have JsDoc comments at the JavaScript

[2021-01-28 13:57] pieper commented on #163
Hi @WoonchanCho and @hackermd - these sound like great improvements to me.  The core code is pretty stable at this point so now would be a good time to put in some more documentation and ts help.  I'd be happy to review and edit 👍

[2021-01-28 14:00] hackermd commented on #163
Great! @WoonchanCho I have type annoations for the `sr` subpackage. We could then start from there. I will prepare a pull request.

[2021-01-28 15:43] WoonchanCho commented on #163
Sounds great! Then I will wait till @hackermd's pull request is merged into the master branch (or a new branch for this work) and begin working after it.

[2021-01-30 15:36] jmhmd commented on #161
Sorry for not chiming in earlier! Thank you for investigating and fixing @WoonchanCho

[2021-01-30 20:50] WoonchanCho commented on #161
@jmhmd, no problem at all.
Have a great weekend.

[2021-02-01 16:53] thomas-beznik commented on #93
Hello!

I'm having a similar issue... I followed your suggestion and was able to add the metaheader, and thus this check in the `readFile` function. Unfortunately, it crashes at `metaHeader["00020010"].Value[0];`; as `metaHeader["00020010"]` is undefined. I'm now quite stuck; any help would be appreciated!

[2021-02-01 19:35] pieper commented on #93
If you follow the metaheader link above you can see what needs to be in it.  In this case it's the transfer syntax (format) of the data that needs to be defined.

[2021-02-02 18:29] WoonchanCho commented on #163
Hi @hackermd, I just wanted to check the status on the type annotation for the sr subpackage. If you are busy for something or need to take more time I might begin to work and you can add on your work on it.
I'm opened to anything so feel free to let me know.

[2021-02-02 19:52] hackermd commented on #163
@WoonchanCho I have a type declarations file. It's not yet complete and I have yet tested its distribution via the npm. I will push what I have and then we can discuss outstanding TODO items. OK?

[2021-02-05 07:40] WoonchanCho opened #167 "File size keep increasing"
Hi Team,
I keep testing this out in various ways to check if this library is in stable status and to help improve this library if any anomaly found.
I made a simple script that repetitively just reads a dicom file (DicomMessage.readFile), writes to buffer, and re-reads from the buffer written again and again to test the result at every cycle is produced constantly.

In the test with the attached f

[2021-02-05 19:18] pieper commented on #167
Hi - thanks for testing this - it does appear there is a memory leak somewhere, and also that something extra is ending up in the file.  I suspect these are two unrelated issues.

Regarding the heap size, I guess there is some nodejs tooling we could use to see if that's transient (waiting for garbage collection or something) or a circular reference.

If the actual part 10 file is getting bigger w

[2021-02-08 17:54] WoonchanCho commented on #167
Thank you so much, I will close this.

[2021-02-08 17:54] #167 closed

[2021-02-08 18:10] WoonchanCho opened #169 "[Question] DICOM Pixel data manipulation"
Hi team,
This is not an issue at all but a question.

The dcmjs library works pretty well to manipulate the DICOM metadata.
I wondered if you have a plan to add functions to easily manipulate pixel data (e.g, burning-in some portion of pixel data).
I take some time to review the DICOM standard and found out that it's quite not easy to implement from the scratch because DICOM supports many types (b

[2021-02-08 19:09] pieper commented on #169
Hi @WoonchanCho -

It makes sense to do some basic pixel manipulation in this library, particularly related to codecs, but not image processing per se.  The [dicomParser](https://github.com/cornerstonejs/dicomParser) project is more focused on the reader part of the process and covers more of that side of things while dcmjs is more focused on the metadata, as you say.  We should be able to share t

[2021-02-08 22:56] WoonchanCho commented on #169
@pieper
It looks dicomParser (with cornerstoneWADOImageLoader) supports the following transfer syntaxes:
https://github.com/cornerstonejs/cornerstoneWADOImageLoader/blob/00cf0419c98c6bddef121d4409c8a2a9d780f336/src/imageLoader/decodeImageFrame.js#L62

1.2.840.10008.1.2	Implicit VR Little Endian
1.2.840.10008.1.2.1	Explicit VR Little Endian
1.2.840.10008.1.2.2	Explicit VR Big Endian (retired)
1.2.8

[2021-02-09 16:48] pieper commented on #169
Those look like the most common transfer syntax use cases to me.

Of course we will also want test cases for those.  I've started brainstorming about how we might best make them available as they scale, ideally migrating away from the current release asset method used in dcmjs-org/data.

I'm hoping we'll be able to set up a DICOMweb service somehow to host these examples for testing but also for d

[2021-02-10 15:02] WoonchanCho commented on #169
@pieper I've played burning-in an area in few samples dicom images of few transfer syntaxes and saving the changes. it worked.
A goal of this library supports both web and nodejs environments.
So, do you think that the pixel data manipulation is run on web worker in the web and on the different threads (worker thread) in the nodejs?

The dicomzoo project would be very useful. It would be great if

[2021-02-10 15:35] pieper commented on #169
Great!

I would think yes, although I haven't tried it myself.  Although one could use native code on node, I think it would be cleanest to aim for one codebase with web assembly and web workers that works in both places.  I'd prefer that unless there were performance or other drawbacks on node.

Agreed.  Debugging dicom code is always painful because people expect every variant to work even thoug

[2021-02-10 16:56] WoonchanCho commented on #169
@pieper Sounds good.
As far as I know, web workers don't not work on Node.Js env, right?
If so, if we don't use native worker thread on NodeJs, the the pixel manipulation process will need to be run on the main thread on NodeJs. Is this what you expected? I don't know how this will affect NodeJs app because I dont see (close-to-production ready) examples to use this library on Node.

Please advise

[2021-02-10 19:22] pieper commented on #169
I haven't worked with it so I don't know if there are drawbacks, but I was thinking that something like [this web-worker npm package](https://www.npmjs.com/package/web-worker) would abstract away the differences between the node and browser use cases.  Might make the code easier to develop and maintain.

[2021-02-11 15:23] WoonchanCho commented on #169
@pieper thank you for your comment.
I think we are on the same page. I also saw that library too and considered to use it or its alternative. I'll try to do implement something minimally working and let you know soon.

[2021-02-11 17:03] WoonchanCho opened #170 ""require is not defined" issue in the browser"
Hi @Punzo and @pieper

The most recent umd version is causing error when being used with a script tag.

<script type="text/javascript" src="https://unpkg.com/dcmjs"></script>
Uncaught ReferenceError: require is not defined
    at Segmentation_4X.js:27
    at dcmjs.js:4
    at dcmjs.js:5

This seems to be caused by a code in Segmentation_4X.js which is added in #155
const cloneDeep = require("lodas

[2021-02-11 18:05] pieper commented on #170
Thank you @WoonchanCho yes, if you can suggest a PR to fix this it would be much appreciated!

[2021-02-11 21:56] WoonchanCho commented on #170
@pieper thank you so much for merging.

[2021-02-11 21:56] #170 closed

[2021-02-16 15:04] wheresvic opened #172 "Expose the `cleanTags` function from anonymizer"
Hi,

Thank you very much for a wonderful library. We would like to use the anonymization feature of `dcmjs` and would like the `cleanTags` function exposed.

I'll submit a PR for this - hopefully it gets approved :)

[2021-02-16 18:23] #172 closed

[2021-02-17 08:41] TimMullender opened #175 "DecimalString values that use exponential notation are converted when reading a DICOM"
Given a DICOM that contains a DS value with exponential notation, eg.
`DS: [-0.2437435686588, 0.96983969211578, 7.1945578383e-05, 0.00072092906339, 0.00025536940665, -0.9999997019767]`
When I run DicomMessage.readFile and write
Then write should complete without any errors

Currently the write fails with the following error:
Error: Value exceeds max length, vr: DS, value: 0.000071945578383, length

[2021-02-17 14:16] pieper commented on #175
Thanks for reporting this 👍

I'm not sure what the best practice is in JS for handling precision in ascii / float conversions.  There was a long thread on a similar issue in C++ at [dcmqi](https://github.com/QIICR/dcmqi/issues/414).

The code is [here](https://github.com/dcmjs-org/dcmjs/blob/master/src/ValueRepresentation.js#L494) and [here](https://github.com/dcmjs-org/dcmjs/blob/master/src/Value

[2021-02-18 13:07] TimMullender commented on #175
I'm struggling to come up with a nice solution that won't break existing functionality.

The issue as I see it is less to do with precision and more about formatting, to be able to associate a format with the values within a DecimalString means changing the type of the values (which may break existing behaviour for some users) or associating a new piece of state with the values (which would requir

[2021-02-18 19:06] pieper commented on #175
I'd be curious how dcmtk and pydicom operate in this case.  We could see if we can get the same round trip DS as they do.

We could try to save the original format (standard vs scientific), but in any case we'd need to handle where that same number was generated on the fly by some calculation so we need arbitrary numbers to be converted to DS in the best form possible.

This basic topic came up in

[2021-02-18 21:13] dclunie commented on #175
Since DICOM DS allows scientific notation, it seems to me that the precision should be preserved.

Otherwise 1e-16 represented as a DS (16 char max) in scientific notation would become zero in non-scientific notation, not .0000000000000001 (if I can count 0's correctly).

I guess we needed to consider both string to binary conversions and vice versa, and consider that the two different string repr

[2021-02-18 21:45] dclunie commented on #175
OK, seems that Gay dtoa is not the last word on this after all ... e.g.:

http://dl.acm.org/doi/10.1145/3360595

Has a video of the presentation at the end.

[2021-02-18 21:59] pieper commented on #175
Thanks for your help with this @dclunie.  Yes, js uses 64 bit floating point as the Number type.

Yes, we should keep a list of challenging values like "7.1945578383e-05" and decide best encodings should be given the formats available and the digits allowed.  Then we can map those best practices into the language-specific implementations.  The experience of @fedorov in the dcmqi issue linked above

[2021-02-18 22:04] fedorov commented on #175
Adding @rfloca and @kislinsk, since in dcmqi we after all went with this PR from @kislinsk https://github.com/QIICR/dcmqi/pull/416. I think for C++ it is more difficult, since as we discovered, some of the details of formatting scientific notation (ie, width of the exponent) are platform-specific, and are not possible to control with API. I believe MITK developers have a lot more expertise with C+

[2021-02-19 08:31] kislinsk commented on #175
Once we figured out the maximum possible string lengths from the C++ standard library and IEEE 754 that preserve the very same value between serialization and deserialization, the fix in C++ was easy because the 32-bit floating point numbers were guaranteed to always fit into the DICOM format.

It's a different story for 64-bit floating point numbers in JS. There's no way to store the whole 64-bit

[2021-02-19 08:46] rfloca commented on #175
Hi, as a short addition to @kislinsk: Appart form the fact that the precision of the c++ code base decided the issue on a technical level, our assumptions regarding the needed precision where only made with having the serializiation of geometric information (origin, spacing, rotation matrix; and it which point we assume then to be practically equal (implicitly answering the question to which point

[2021-02-19 08:57] TimMullender commented on #175
The example DICOM that is attached is a modified version of a publicly available example so that there was no risk of uploading private data, I don't have too much information from the original as it was scrubbed before we got to see it, I can tell you it was an MRI scan from a Philips MR Imaging device.  I assumed the decision was somewhat based on what would fit without losing precision

From wh

[2021-02-21 14:12] TimMullender commented on #175
I've associated a PR for the simple approach, I can look at the bigger change of being able to specify a format and setting the format when reading a value if it's wanted but it may take me some time

[2021-02-23 13:22] gangaramstyle opened #177 "displaysegmentation example unable to parse segmentation"
When running the [displaysegmentation example](https://dcmjs.netlify.app/displaysegmentation/) I am able to get the QIN-Headneck CT dicom to load but, when I click Get Segmentation Data, I get the error _"Uncaught TypeError: Cannot read property 'ReferencedSegmentNumber' of undefined"_

The full stack trace:
[code]

The primary issue seems to be around this function within dcmjs/src/adapters/Corne

[2021-02-23 18:29] pieper commented on #177
Looks like this is related to this commit: https://github.com/dcmjs-org/dcmjs/commit/e4e0e7cef2cc3daeff9b203204950a70b22046c1

@igoroctaviano can you have a look?

[2021-02-24 10:45] igoroctaviano commented on #177
I'll take a look today, yes its related to that commit

[2021-02-25 15:38] igoroctaviano commented on #177
@pieper https://github.com/dcmjs-org/dcmjs/pull/179 fix here.

[2021-03-03 01:43] gangaramstyle commented on #177
I'm actually still having trouble with running the view segmentation sample with the new 0.18.1 release. The issue that I have with the new commit is that multiframe (at least the multiframe generated from the QIN-Headneck CT dicom sample) doesn't have the attribute PerFrameFunctionalGroups.

[code]
As a result PerFrameFunctionalGroups as in #179 evaluates to undefined

However, modifying it to be

[2021-03-03 01:51] igoroctaviano commented on #177
@pieper I'll create a new PR for this asap, looks like I have reintroduced the bug in the latest change. @gangaramstyle thanks for pointing it out.

[2021-03-03 02:03] igoroctaviano commented on #177
@gangaramstyle can you open another issue / PR to cover checkSEGsOverlapping code? thank you in advance!

[2021-03-03 02:25] igoroctaviano commented on #177
@Punzo can you take a look at gangaramstyle@c8a5ba9 commit on overlapping segs? you may have more insights on this particular fix.

[2021-03-03 10:12] Punzo commented on #177
sure!

@gangaramstyle everything make sense (I just left a comment), please open a new PR. Could you also report in a new issue which were the checkSEGsOverlapping errors reported in the case of skipOverlapping = false, please?

[2021-03-03 13:08] gangaramstyle opened #184 "checkSEGsOverlapping throwing Uncaught RangeError for examples/displaySegmentation/index.html"
After the patch in Segmentation_4X.js to properly compute getSegmentIndex as described in https://github.com/dcmjs-org/dcmjs/issues/177, there are still a few more small issues to get examples/displaySegmentation/index.html to work without errors. All of the fixes, including the getSegmentIndex patch, are described in https://github.com/gangaramstyle/dcmjs/commit/c8a5ba9. @igoroctaviano has create

[2021-03-03 13:09] gangaramstyle commented on #184
@igoroctaviano @Punzo

[2021-03-03 22:28] WoonchanCho commented on #162
Hi @ejcurtis and @johndgiese I just wanted to check how the development of "allowInvalidVRLength" option is going.
I recently see a lot of cases where we need to use the options in my own project. I just wanted to know a rough timeline when you will raise a PR for this feature. Feel free to tell me if there is anything I can help you on this too.
Thank you so much.

[2021-03-03 22:57] pieper commented on #177
Thanks everyone for the careful review and quick updates 👍

One question:

@gangaramstyle Can you add a pointer to the dataset?  It's not clear to me how a valid CT would not have any per-frame data unless - unless maybe it has zero or one frame maybe?  [It is 1C, so only optional if there is no per-frame data](https://dicom.innolitics.com/ciods/enhanced-ct-image/enhanced-ct-image-multi-frame-func

[2021-03-03 23:20] igoroctaviano commented on #177
@pieper intercepting your question to him to say that we had PerFrameFunctionalGroups attribute on our side which didn't exist, only PerFrameFunctionalGroupsSequence attribute 🤦  this is what was fixed recently

[2021-03-03 23:27] gangaramstyle commented on #177
@pieper, the dataset in question is the one from the examples of the repo https://github.com/dcmjs-org/dcmjs/blob/master/examples/displaySegmentation/index.html#L93

I also put a PR to fix some other issues I had while trying to run the displaySegmentation example at https://github.com/dcmjs-org/dcmjs/pull/185 . Would love your review!

[2021-03-04 06:04] johndgiese commented on #162
We’re busy with other priorities at the moment. I’m not sure when we’ll get to this.

[2021-03-04 11:37] WoonchanCho commented on #162
@johndgiese thank you for your reply. I see, then let me work on this and push a PR first. You can improve or overhaul it when you have time on this.

[2021-03-04 17:39] gangaramstyle commented on #177
Closing this issue b/c it's successfully addressed by @igoroctaviano's commit. I'm still having an issue with https://github.com/dcmjs-org/dcmjs/issues/184

[2021-03-04 17:39] #177 closed

[2021-03-04 19:50] pieper commented on #184
I'm trying to keep up with the conversations, but just to be sure do you have this one @Punzo ?

[2021-03-05 09:05] Punzo commented on #184
@pieper see https://github.com/dcmjs-org/dcmjs/pull/187

[2021-03-05 19:52] pieper commented on #184
I'll take that as a yes  ; )

[2021-03-08 15:05] #184 closed

[2021-03-11 08:09] vsaase opened #192 "Segmentation metadata inconsistent"
Hi,
I noticed that in OHIF viewer in the labelmaps3d object coming from dcmjs, segmentation metadata is stored in the array labelmap3d.metadata.data
However, dcmjs seems in other places like Segmentation_4x.fillSegmentation to expect labelmap3d.metadata to be this array.
Maybe because Segmentation_4x.getSegmentMetadata returns ```
{
        seriesInstanceUid,
        data
    }
[code]

[2021-03-11 14:02] vsaase opened #193 "Images are sorted in Normalizer, but Labelmap are not"
https://github.com/dcmjs-org/dcmjs/blob/e2a877b8760297d72f97698fbbcd892eff406115/src/adapters/Cornerstone/Segmentation_4X.js#L61

Here the assumption is that after creating the Segmentation object, the references are still orderd like the images and the labelmaps. However, Normalizer sorts the images by physical position, resulting in mixing of the labelmaps in the stack.

[2021-03-11 14:07] vsaase commented on #193
ok, sorry, seems to be sorted out in #154

[2021-03-11 14:22] vsaase commented on #193
I think the problem is really in the fillSegmentation method that assumes same ordering as in segmentation object. The inputLabelmaps3D object does not have enough information, as this depends on the ordering of the images in the viewer. A solution would be to provide a map that maps from the labelmap indices to the referenced SOPInstanceUIDs, and the let fillSegmentation sort it out.

[2021-03-15 08:46] codepage949 opened #194 "should overlay data also be encapsulated like pixel data depending on transfer syntax?"
[overlay-samples.zip](https://github.com/dcmjs-org/dcmjs/files/6139599/samples.zip)

i had two dicoms(one is 'Explicit VR Little Endian' of transfer syntax and other one is 'JPEG 2000 Image Compression (Lossless Only)'.

and i added overlay to each by dcmjs like below.

[code]

as result, overlay was visible on 'Explicit VR Little Endian' dicom in weasis and aliza viewer but not on 'JPEG 2000 Imag

[2021-03-15 16:48] pieper commented on #194
It sounds like this is the core issue, right?  Does this message appear before you do the overlay part or when you try to re-read the one you created?

In any case, I don't think dcmjs handles any of the encoding / decoding part of the transfer syntaxes, although issue #169 discusses adding some support for that.  So probably your overlay is being written uncompressed; perhaps you need to compress

[2021-03-16 02:02] codepage949 commented on #194
the message appear when i try to re-read the one i created.

you mean i did compressing overlay data manually for jpeg2000?

no, i inserted overlay data using dcmjs without compressing but when i checked overlay data with dicom parser it is encapsulated and changed length from what i inserted.

[2021-03-16 11:36] pieper commented on #194
I have no direct experience with overlays, but I would think they need to be encoded using the same transfer syntax as other pixel data.

I'm not aware that anyone has tried to do this before with dcmjs, so your best approach might be to single step through the code and see if you can see what's going on.  A PR with tests would be welcome.  Good luck!

[2021-03-26 10:51] computurus opened #196 "Error adding dicom headerError: Request more than currently allocated buffer"
Trying to write DICOM tags into a buch of files i get the following error. Code is below:

[code]

[2021-03-26 13:44] pieper commented on #196
Is this async code interacting with a remote service?  Sometimes you run out of space due to a bunch of unresolved promises google for promise queue to get options.  If it's not that then please provide more context on your issue.

[2021-03-29 08:38] computurus commented on #196
Not much else I can say. I tried different ways for writing DICOM tags. Error always the same.

[2021-03-29 12:44] pieper commented on #196
Not seeing how we can help you then.  If you come up with a reproducible issue the please provide a complete example.

[2021-03-29 12:44] #196 closed

[2021-03-30 08:31] computurus commented on #196
I found the error in the dcmjs files. What does it indicate?

`key: "more",
	    value: function more(length) {
	      if (this.offset + length > this.buffer.byteLength) {
	        throw new Error("Request more than currently allocated buffer");
	      }

	      var newBuf = this.buffer.slice(this.offset, this.offset + length);
	      this.increment(length);
	      return new ReadBufferStream(newB

[2021-04-05 14:46] pieper commented on #175
There's been more progress on the [pydicom related](https://github.com/pydicom/pydicom/pull/1334) issue.

@TimMullender should we merge your PR #176 as is?

[2021-04-28 14:28] codepage949 opened #204 "can't read an encapsulated frame whose size is greater than fragment size"
when writing with encapsulation and fragmentMultiframe enabled, dcmjs is able to handle a frame which is greater than fragment size(20480 bytes).

but when reading, it only expect an encapsulated frame which is less than or equal to fragment size.

[2021-05-01 00:45] MongiBr opened #206 "Post Studies"
Postman  localhost:5895/studies file works in form-data but not works on POST request in reactjs with axios (STOW. Error: Response message has no multipart mime header)
how can i fix it ?
someone help me please!

[2021-05-20 18:37] #204 closed

[2021-05-20 18:45] #194 closed

[2021-05-21 18:06] sinanmb commented on #144
Hi @helghast79, I am currently able to generate and save segmentations that contain 1 single segment. I would like to be able to create multiple segments. I have tried adding a new object inside the `labelmap2D` object but was not successful. If you know how to do it, can you please point me in the right direction?

[2021-06-09 20:28] jssuttles commented on #86
Hey, I'm running into this same issue! How did you get around this issue @swederik in viewer? When readFile is run on a DEXA file, it acknowledges that there is something at the 00281201 tag, but it doesn't read it.

[2021-07-09 14:11] jlopes90 opened #211 "Cannot read property 'Rows' of undefined"
Create and read RLE encoded DICOM Segmentation with Cornerstone
Example: https://dcmjs.netlify.app/createsegmentationrleroundtrip/

![image](https://user-images.githubusercontent.com/50026015/125090580-63a7ff00-e0c7-11eb-8e3e-6853c560ef42.png)

![image](https://user-images.githubusercontent.com/50026015/125089997-c77df800-e0c6-11eb-8fb6-43e1e13b8137.png)

Display DICOM Segmentation with Cornerston

[2021-07-09 15:06] pieper commented on #211
Thanks for reporting this, I'm able to reproduce it.  My guess is that something has changed in cornerstone or else this version of the segmentation example isn't working for some reason (I know earlier versions did).  I appreciate any help you can provide troubleshooting this to fix the example, maybe by reverting versions of this code or cornerstone.

If you want more fully worked out solution y

[2021-07-09 16:10] fedorov commented on #211
Steve, did we test OHIF with RLE-encoded SEGs? Those I know of are just bit-packed, not RLE encoded.

[2021-07-09 16:39] pieper commented on #211
Good point, this example is from @JamesAPetts to do RLE.  So I can't actually say.  I hope he's able to confirm that this did work when committed and maybe that will give a clue about why it might not be working now.

[2021-07-15 13:12] JamesAPetts commented on #211
Hey, yeah this demo worked when it was built.

I don't think it reflects commonly available data though, its RLE with the liberal abuse of FRACTIONAL SegmentationType to make files with many segments (e.g. Freesurfer segmentations) as small as possible, as these didn't scale well with binary due to their being loads and loads of zeroes per segment frame.

I don't think we ended up using it anywher

[2021-08-14 13:08] IsmailAlaouiAbdellaoui opened #213 "am I missing something ?"
First of all, thank you very much for the fantastic work that you have been doing so far !

However, I have hard time finding a good reason why a simple dicom image viewer needs so much code and js libraries.
After all, the simple steps to display an image from a dicom file is to read the binary data, extract the image values, convert them to regular pixel values, and display them to a canvas no ?

[2021-08-16 15:03] pieper commented on #213
I'm not sure I follow your question, since dcmjs is actually pretty thin and lightweight as far as dicom libraries go (have a look at the [dcmtk source code](https://github.com/DCMTK/dcmtk) for example).

[2021-08-16 15:03] #213 closed

[2021-08-17 02:37] IsmailAlaouiAbdellaoui commented on #213
Thanks for taking the time to answer.

I was actually referring to the basic examples like the one in: https://github.com/dcmjs-org/dcmjs/blob/master/examples/display/index.html
In order to load an image, many libraries are needed ( cornerstone, its tools, utilities, hammer as well as dmjs itself ).
Therefore I was wondering what kind of processing those tools are in charge of that are not handled

[2021-08-17 03:46] PoyangLiu commented on #213
You can either roll all functionalities into one jumbo library and say `only one` library is needed, or you can split the functionalities into smaller libraries with more target uses.  Then `many libraries` will be needed.

I think you need to do more research yourself on these individual library do before asking why `dcmjs` doesn't handle what these libraries support.

A good starting point is ht

[2021-08-17 15:29] IsmailAlaouiAbdellaoui commented on #213
Well this can be said for any code so this is not helpful.

As a first time user, I was expecting a high level explanation on what the other libraries are used for. I guess I should not expect such explanations at this point.

I guess that's the issue. At no point in the readme (https://github.com/dcmjs-org/dcmjs) there is an explicit statement which explains that cornerstone is a pre-requisite fo

[2021-08-17 15:43] PoyangLiu commented on #213
Open source libraries rely on community members to contribute.  I agree that documentation is often lagging and would definitely help first time user.   Disclaimer:  I'm not a maintainer, just another community member.

I think you have it backward.  That's because the *example* shows you how to put together a viewer.  The example requires these libraries.  'dcmjs` itself is a not a viewer. It is

[2021-08-17 16:13] PoyangLiu commented on #213
I have a feeling that you are looking at the wrong place.  You might want to check out https://github.com/OHIF/Viewers.  It is not a `library` though, but a fully featured viewer and makes use of `dcmjs`, `hammerjs`, `cornerstone-*` libraries.

Still not clear what you are looking for.  But perhaps you meant the [embedded mode](https://docs.ohif.org/deployment/#embedded-viewer) of that OHIF/Viewer

[2021-08-23 19:28] james-Solutions opened #214 "Convert DICOS/DCM file to Png"
Hello,

In our Application we have been using this library, which has been helpful, to load and perform various operations on the .dcs (DICOM/DICOS etc). In the end we save our changes back as a .dcs file. However, we are wanting to convert for instance a DICOM file to a MS COCO format which requires the images/pixel data be in png format. Is there a way for this library, or another way, to conver

[2021-08-23 19:58] pieper commented on #214
Glad you are finding the library helpful 👍

Yes, if you are doing this in the browser you can use [the toDataURL](https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toDataURL) call on a canvas.

We don't use it in dcmjs, but [here's some example code](https://github.com/pieper/sites/blob/8a70b1489fd50187fd2d0fe2efe53ab93dba6961/glimp/growcut.html) that uses it.

There are also cros

[2021-08-23 20:25] hackermd commented on #214
@james-Solutions you'll have to parse the DICOM Data Set, but as @pieper pointed out you can pass individual Frame items of the Pixel Data element of a multi-frame image or the entire Pixel Data element of single-frame image to the `src` attribute of the HTML `<img>` tag. We use this approach in the [dicom-micrscopy-viewer](https://github.com/MGHComputationalPathology/dicom-microscopy-viewer) (see

[2021-08-27 20:16] joy91227 opened #215 "Support using custom dictionary in DicomMetaDictionary"
Hello, we have some custom DICOM tags that we would like to include in our DICOM files, but because they don't exist in dictionary.js, they get dropped when we call DicomMetaDictionary.denaturalizeDataset().
I was wondering if it's possible to make DicomMetaDictionary accept a custom dictionary.
In our own repo, we have copied and refactored DicomMetaDictionary.js to have a constructor that would

[2021-08-29 13:53] pieper commented on #215
That sounds like a reasonable approach to me.  Do you want to make a PR?

[2021-08-30 20:42] joy91227 commented on #215
Sure! Are there any rules that I should follow?

[2021-08-31 17:46] pieper commented on #215
We haven't got formal policies for dcmjs, but we pretty much follow what's become normal for github these days.  You create a fork, make commits that reference this issue, make a PR, and we can discuss.  Follow existing code conventions with respect to naming, indents, etc.  From a glance the snippet you pasted looks reasonable and unlikely to break anything.

[2021-08-31 22:24] joy91227 commented on #215
#216
Thanks! I've opened up a PR

[2021-09-07 18:11] #215 closed

[2021-09-08 20:56] james-Solutions commented on #214
@hackermd and @pieper Thank you both for a good starting point. I perhaps should have mentioned we use https://github.com/cornerstonejs/cornerstone as our canvas to render the DICOS file. What I ended up doing was pulling a Uint16Array grey scale pixel data from the cornerstone canvas. https://emsis.eu/olh/HTML/topics_glossary_16bit_image.html This provides the best explanation I found for creatin

[2021-09-14 12:51] wayfarer3130 opened #218 "naturalizeDataset make sequences of length 1 into an object, which makes it hard to write generic code - replaced with #219"
If there is a sequence which is sometimes of length 1 (eg based on number of frames being 1), then it is difficult to write code that generically gets the correct sequence number, for example
metadata.PerFrameFunctionalGroupsSequence[frameNumber-1]
doesn't work correctly.

A trivial fix for this is to replace the line:
                    naturalDataset[naturalName] =
                        natur

[2021-09-14 13:16] pieper commented on #218
Yes, I thought we can cleaned that up at one point and always represented sequences as lists even with only one element.  Can you make a PR with your suggested changes for discussion?  As a general rule it's turned out to be best to stay as close as possible to the semantics of the standard.  It could be worth making a breaking change as a new major version and make sure the client and server code

[2021-09-15 12:35] wayfarer3130 commented on #218
I tried creating a PR, but have something wrong in it and github won't let
me create it.  Anyways, the fork/diff is here:
Comparing commontk:master...wayfarer3130:fix-array-sequences-3 ·
commontk/dcmjs (github.com)
<https://github.com/commontk/dcmjs/compare/master...wayfarer3130:fix-array-sequences-3?expand=1>
If you can tell me how to correct whatever I did wrong, then I will try to
fix it, but s

[2021-09-15 20:02] pieper commented on #218
It looks like your fork of the repository is not up to date with the current master.  Maybe you can re-fork and copy in the changes to make a clean PR.

I was going to say though that perhaps this whole block should be removed and we'd get the expected behavior.

https://github.com/commontk/dcmjs/compare/master...wayfarer3130:fix-array-sequences-3?expand=1#diff-a70070702108a92f492970cff5b5ef645d5c

[2021-09-20 20:51] #214 closed

[2021-09-30 18:34] ladeirarodolfo commented on #218
I just checked this issue, not sure what exactly @wayfarer3130  is your fix. But I know what should be avoided

https://github.com/dcmjs-org/dcmjs/blob/master/src/DicomMetaDictionary.js#L148

we can find here
https://262.ecma-international.org/6.0/#sec-object.assign
But
Briefly explanation:
Object.assign(a, [a]) and a = [b] => Object.assign([b], [[b]])

1. [b] is already an object.
2. It will copy

[2021-09-30 18:50] #218 closed

[2021-09-30 18:50] wayfarer3130 commented on #218
Replaced with issue 219

[2021-10-08 18:36] joy91227 opened #222 "pdf2dcm"
Hello, I've been looking at DCMTK, and the old version of DCMJS because I wanted to use the pdf2dcm function. I was wondering if the same conversion utilities have been implemented here already.

[2021-10-08 20:01] pieper commented on #222
No, you'd still need the old version for that specific feature out of the box.

If you want to write some code, there are javascript libraries that should work well with the new dcmjs, like https://www.npmjs.com/package/jspdf

[2021-10-08 20:01] #222 closed, assigned to nobody

[2021-10-23 14:27] Spenhouet opened #226 "API documentation"
I can not find the API documentation for this library. Am I missing something or is there none?
I did see the pages on the Wiki but they are not really helpful.

[2021-10-27 14:08] speedyankur opened #227 "broken displaysegmentation example"
https://dcmjs.netlify.app/displaysegmentation
![Screenshot 2021-10-27 at 16 07 32](https://user-images.githubusercontent.com/1248020/139082322-a2729272-a211-4cc7-a822-c82fc61f58e7.png)
/

[2021-11-09 12:58] rvantklooster commented on #175
I recently came across the same issue, the value in my case being `6.483748056e-006` which was converted to
`0.000006483748056` (length=17). The value was present in the Image Orientation Patient array. The above PR fixes the bug in my case. As I am dealing with reading, anonymizing and writing DICOM files, I think this change will be sufficient. Considering user created values, you could argue th

[2021-11-10 20:39] pieper commented on #175
Thanks for the report @rvantklooster.  I just re-read (some of) the long threads on this topic and I think you are right, we're better off merging #176 and then further optimizing later if the need arises.  We can re-examine what's being done in C++ and python for interoperability (make sure we're not more lossy than they are).

[2021-11-10 20:55] #175 closed

[2021-11-10 20:56] pieper commented on #175
Unfortunately #176 developed [conflicts](https://github.com/dcmjs-org/dcmjs/pull/176/conflicts) with the master.

Resolved conflicts and merged - hopefully no mistakes were made.

[2021-11-12 03:12] sedghi opened #231 "TypeError: Cannot redefine property: Alphabetic"
I'm getting the following error on latest `dcmjs` version, any idea? I can confirm `dcmjs 0.18.6` does not produce this error

[code]

[2021-11-12 14:50] pieper commented on #231
Thanks for the report 👍

Could you provide a PR with a test that replicates this issue?

@wayfarer3130 can you have a look?

[2021-11-12 18:21] wayfarer3130 commented on #231
Will look as soon as the test is available.

[2021-11-15 14:09] sedghi commented on #231
Sorry It might take me a while to create a test for this issue as the repo I'm working on is private.

[2021-12-22 22:19] fedorov opened #232 "Potentially incorrect assumption while parsing SEG"
While debugging an issue with a SEG not being shown in OHIF Viewer, I came across this code:

https://github.com/dcmjs-org/dcmjs/blob/44850b3ac59fab774c841f5738ca1cc874d18eb8/src/adapters/Cornerstone/Segmentation_4X.js#L642-L656

If I understand it correctly, there is an assumption that is made that perhaps number of frames within a segmentation should be the same for all segments. If this is the

[2022-01-27 17:53] sedghi commented on #231
@pieper @wayfarer3130 we debugged this today with James and Erik, and here are the results:

Apparently you cannot `naturalizeDataset twice`, so following code will through an error. (We were naturalizing the dataset in the internals of one of our providers)

[code]

but the following code works

[code]
Is there any where in the `naturalizeDataset` that it is mutating the `metadata` by reference?

[2022-01-27 18:38] pieper commented on #231
That sounds like a regression, probably introduced by [this commit](https://github.com/dcmjs-org/dcmjs/commit/70b24332783d63c9db2ed21d512d9f7b526c5222) or similar.

Calling `naturalizeDataset` should be idempotent in my opinion, especially if it was that way before.

It would be good to have a test of that along with a fix of course.  @wayfarer3130 are you able to work on that?

[2022-01-28 12:53] wayfarer3130 commented on #231
Will try to get a PR for this by the end of the day - I have a fix for it
already, just need to add a unit test.  I might do an alternate fix for it
that avoids re-using the contained objects as one can get odd side affects
in other cases.

Bill

On Thu, 27 Jan 2022 at 13:38, Steve Pieper ***@***.***> wrote:

[2022-01-28 13:45] wayfarer3130 commented on #231
I have a PR for this right now, but the issue exposes the fact that the normalized data refers to the original data, so modifying it will modify the original/underlying data.

[2022-01-31 18:57] sedghi opened #238 "Dependency issues for babel/polyfill"
Our CI is failing recently complaining about the `core-js@2.6.5`. After some digging I found that the specific version of core-js is a dependency of [`babel/polyfill`](https://github.com/babel/babel/tree/master/packages/babel-polyfill) in dcmjs, which is deprecated.

In the babel [website](https://babeljs.io/docs/en/babel-polyfill.html) it says that:

"As of Babel 7.4.0, this package has been depr

[2022-02-01 21:46] #232 closed

[2022-02-07 19:02] WoonchanCho opened #242 "Invalid VR of the private creator tag of the "Implicit VR Endian" typed DICOM file"
Hi team,

Recently, I found one anomaly when I used the dcmjs to parse the DICOM file of which transfer syntax is Implicit VR Endian (1.2.840.10008.1.2).

According to the DICOM spec: https://dicom.nema.org/medical/dicom/current/output/html/part05.html#sect_7.8.1,

_Private Creator Data Elements numbered (gggg,0010-00FF) (gggg is odd) shall be used to reserve a block of Elements with Group Number

[2022-02-07 19:18] pieper commented on #242
Hi @WoonchanCho  - yes, that sounds very reasonable.  We want dcmjs to follow the standard and behave like other dicom libraries.

[2022-02-15 11:21] ArturRod opened #248 "Bug Dose Report"
https://github.com/OHIF/Viewers/issues/2701

[2022-02-19 09:47] muhammedmokbel opened #249 "structured report for measurements with google healthcare API"
hi everyone ,
I already generated structured  report for measurements  using dcmjs
`const toolState = cornerstoneTools.globalImageIdSpecificToolStateManager.toolState`
`const { MeasurementReport } = dcmjs.adapters.Cornerstone;`
`const report = MeasurementReport.generateReport(toolState, cornerstone.metaData);`
`const dataset = report .dataset`
`const dicomDict = dcmjs.data.datasetToDict(dataset);`

[2022-02-19 15:30] pieper commented on #249
Can you try storing to a different server as a test? (e.g. dcm4chee).  Also try running dciodvfy on the instance.

[2022-02-19 16:30] fedorov commented on #249
Looking at the error, you may already have an instance with SOPInstanceUID in the dicom store.

[2022-02-20 08:18] muhammedmokbel commented on #249
thanks everyone for respond

I got the problem which is as @fedorov said I should generate new SOPInstanceUID to store my SR in google dicom store

[2022-02-20 08:18] #249 closed

[2022-02-24 23:39] thewildnath commented on #144
I know that it's quite an old thread but this might help somebody. I did manage to find a 'hacky' solution for getting 'image.data' for every image, without having to fork dcmjs.

Similarly to the solution [in the comment above](https://github.com/dcmjs-org/dcmjs/issues/144#issuecomment-694254084), you can actually call `DicomLoaderService.findDicomDataPromise` with a slightly changed `displaySet`

[2022-02-27 09:06] muhammedmokbel opened #250 "Export image as DICOM file"
i would like to export image in dicom file and i already used some code base in dcmjs examples to help me to create dicom file in right way

as mentioned here :  https://github.com/dcmjs-org/dcmjs/blob/add-commander/examples/nodejs/generate.js

i found code base to generate dicom file and convert this file to blob  after i set my pixeldata in dataset

`dataset.PixelData = dataBuffer.buffer;`
`cons

[2022-02-27 12:30] muhammedmokbel commented on #250
when I try to reconstruct dicom file and adjust bit allocated and bit stored the image become more clear but the contrast is too high
<img width="960" alt="test3" src="https://user-images.githubusercontent.com/31143764/155882387-65196b3b-585e-4125-b6ae-9fca8bc92863.PNG">

[2022-02-27 18:22] pieper commented on #250
Looks like you are close - maybe you just need to adjust the window center/width to match your data range.

https://github.com/dcmjs-org/dcmjs/blob/add-commander/examples/nodejs/generate.js#L83-L84

[2022-03-08 10:45] muhammedmokbel commented on #250
@pieper thank you so much for respond

[2022-03-08 10:45] #250 closed

[2022-03-08 17:54] muhammedmokbel opened #252 "storing pixel data locally"
I am trying to get pixel data from dicom store in google healthcare and storing this pixel data in dicom file locally
using node js not browser environment

` const buffer = Buffer.from(respond.data)`
` const pixel = new Uint8Array(buffer, offset, length)`
just I have to remove mime type from the headers to get the pixel data only because google healthcare using multipart/related

` const dicomDic

[2022-03-08 21:23] pieper commented on #252
It depends on what api endpoint you use to get the data via dicomweb.  If you get the instance you will get a binary "part10" data that needs to be parsed, which you can do with dcmjs just like you [would from a file](https://github.com/dcmjs-org/dcmjs/blob/master/test/test_data.js#L217-L235).  This will let you access the PixelData directly and reshape it to match the Rows and Columns.  If you us

[2022-03-09 11:10] muhammedmokbel commented on #252
@pieper thank you for respond

actually I am working  on frame level .. and already I get pixel data from endpoint based on frame and decode multipart to extract pixel data without headers mime type
` const buffer = Buffer.from(respond.data)`
` const data = decode.multipartDecode(buffer)`

multipartDecode is function that implemented in dicomweb-client so i think it is tested well

and I already g

[2022-03-09 19:15] pieper commented on #252
Are you sure the image is not compressed? (check the transfer syntax in the metadata and the http headers).

[2022-03-23 09:51] Christian-e-S opened #255 "adapters/Cornerstone/Segmentation: generateToolState sets incorrect segmentsOnFrame for 4D Volumes (worked correctly in previous versions!)"
Please note: We saw this issue appear in the latest version of the OHIF viewer which relies on a newer version of dcmjs. The issue was not present in previous versions of dcmjs (e.g., 0.18.8).

Description of the issue:

Background Information
We have 4D datasets in our PACS (e.g. Diffusion Weighted Imaging). A single series contains contains a sequence of the same 3D volume captured at different

[2022-03-24 14:19] pieper commented on #255
@Christian-e-S thanks for the report 👍

@Punzo knows what to do.

[2022-03-24 14:37] Punzo commented on #255
@Christian-e-S yeap, thanks for testing and reporting the issue. The issue is because of https://github.com/dcmjs-org/dcmjs/pull/253. After talking with David and in the light of this issue, make sense to first use ReferencedSOPInstanceUID and then other logic to find the Ids in case of issues with the data. I will have a PR in few minutes

[2022-03-24 15:15] Punzo commented on #255
fixed in https://github.com/dcmjs-org/dcmjs/pull/256

[2022-03-28 14:10] muhammedmokbel commented on #252
thank you so much @pieper the problem is fixed

[2022-03-28 14:10] #252 closed

[2022-04-05 05:51] xuhaooo commented on #85
HI @ikhwanafath , I have the same problem as you and need to pass node.js converts ordinary pictures into DCM file. I can generate it according to your previous communication records. In fact, I can solve it DCM file problem, but I generated DCM files are opened through DICOM viewing software. You can't see clear images, but blurred pixel images. Have you solved the original problem now? Look forw

[2022-04-05 21:18] #85 closed

[2022-04-07 21:55] igoroctaviano opened #259 "Add coverate and wire it to deploy preview configuration"
- https://about.codecov.io/language/javascript/

[2022-04-28 00:34] pieper opened #262 "Need to disable circleci now that we use github actions"

[2022-04-28 13:22] pieper commented on #262
I deleted the circleci check as described here:

https://circleci.com/docs/2.0/enable-checks/#troubleshooting-github-checks-waiting-for-status-in-github

will see if this works for the next PR.

[2022-04-28 22:40] dbousamra opened #263 "naturalizeDataset in v0.18.11 creates in memory objects of 300mb+"
Hi all.

I upgraded dcmjs, and I noticed calls to naturalizeDataset were taking longer. Looking further into it, writing the response to disk gives files of 300mb+, whereas in 0.18.10 (and prior), they were ~ 4kb. The file is full of thousands of `null`'s.

[2022-04-29 12:23] pieper commented on #263
That's interesting.  Can you reproduce this with any data you can share?

[2022-04-29 22:23] dbousamra commented on #263
Here is a code sandbox with a simple reproduction: https://codesandbox.io/s/recursing-booth-61xnc5?file=/src/index.ts

If you notice, the output is: `JSON lengths { rawTags: 5149, naturalizedTags: 300153806 }`. The `naturalizedTags` are being filled with many null values (presumably tags that aren't in my file, but dcmjs is eagerly appending).

If you switch the version back to pre 0.18.11, you wi

[2022-04-30 16:04] pieper commented on #263
Thanks for the code sandbox but I keep getting this 502 bad gateway error.  Does this also happen for you?  Is there another way to test the code?

![image](https://user-images.githubusercontent.com/126077/166113212-7ce59ec0-0894-44b7-ba27-1236e5e8e079.png)

[2022-04-30 16:08] pieper commented on #263
If we have a simple node script that can reproduce and detect the error someone could try git bisect on it.

I'm not sure what change would lead to this issue, but I'm wonder if it's an unintended consequence of the accessors.  @wayfarer3130 could you have a look?

https://github.com/dcmjs-org/dcmjs/compare/v0.18.1...v0.21.0#diff-a70070702108a92f492970cff5b5ef645d5c33c56c01a775d65063e9bdbefa7aR157

[2022-04-30 22:46] dbousamra commented on #263
@pieper try just Ctrl-S/Cmd-S in the editor. It will force a save, and you should see the script run

[2022-04-30 23:18] dbousamra commented on #263
I believe the issue was introduced in this changeset: https://github.com/dcmjs-org/dcmjs/compare/v0.18.10...v0.18.11

[2022-05-02 17:56] pieper commented on #263
Thanks for narrowing this down @dbousamra, yes, that's the commit I was thinking might at the heart of it.

@wayfarer3130 should have a look.  Or if anyone else has ideas, or wants to contribute a fix or a test to detect this case so that we'll know when it's fixed it will stay fixed that would be great.

[2022-05-06 11:45] JamesAPetts opened #265 "CI Issues."
All PRs recently seem to have build issues. This is something we should look into when someone has the time.

[2022-05-06 12:49] wayfarer3130 commented on #263
@pieper - I'm looking into this.   The naturalized dataset will be somewhat larger than the original dataset because the data is accessible on multiple paths, but it shouldn't be this much larger.  I will try to figure out what is going wrong.

[2022-05-06 14:07] pieper commented on #265
@JamesAPetts I agree!  Duplicate of #262

[2022-05-06 14:07] #265 closed

[2022-05-08 21:48] #263 closed

[2022-05-24 14:23] supasus opened #272 "Cannot read properties of undefined (reading 'forEach')"
Hello! I am trying to create a Measurement Report with a Freehand tool in it using dcmjs cornerstone adapter (0.17.3, part of OHIF viewer), however I am getting this issue:

[code]

As I've noticed, the issue seems to be due to lack of implementation of getTID300RepresentationArguments method in this file https://github.com/dcmjs-org/dcmjs/blob/0e1e2921e953bde8f4707b025f584a6c558ffedd/src/adapters

[2022-05-24 14:29] pieper commented on #272
Hi - Most of the adaptor work is focused on cornerstone 3D now so I don't expect we'll see much work on the older code.  If you can find a workaround that would be great.  @sedghi or @JamesAPetts might be able to comment.

[2022-05-25 10:08] JamesAPetts commented on #272
@pieper is correct that most people are focused on Cornerstone3D going forwards, however, you are welcome to check how the other adapters work and write a PR to complete freehand ROI adaptation for Cornerstone Legacy. There is the `PlanarFreehandROI` adapter in the `Cornerstone3D` adapters which should be pretty similar conceptually as a starting point.

[2022-05-25 10:12] supasus commented on #272
Freehand adapter was introduced in 0.19.0, although it was commented out for some reason. I restored it in my fork if anyone has a similiar problem https://github.com/supasus/dcmjs-polyline-fix.

[2022-05-25 10:12] #272 closed

[2022-06-02 14:04] sedghi opened #273 "Inconsistent data from SR generate report and naturalizing the dataset"
With https://github.com/dcmjs-org/dcmjs/commit/70b24332783d63c9db2ed21d512d9f7b526c5222 we have switched to adding a [proxy](https://github.com/dcmjs-org/dcmjs/commit/70b24332783d63c9db2ed21d512d9f7b526c5222#diff-a70070702108a92f492970cff5b5ef645d5c33c56c01a775d65063e9bdbefa7aR148-R157) for objects in the naturalizing process which will make arrays of 1 items to stay as an array (but with backward

[2022-06-09 03:56] richard-viney commented on #262
This check appears to still be listed as required - seems the PRs I've opened today are expecting it to run and it isn't.

[2022-06-09 16:23] pieper commented on #262
Do you know where to turn it off?

On Wed, Jun 8, 2022 at 11:56 PM Richard Viney ***@***.***>
wrote:

[2022-06-09 17:31] swederik commented on #262
I disabled builds for this repo via the CircleCI admin page, thanks!

[2022-06-14 18:02] #273 closed

[2022-06-24 20:17] Ouwen opened #282 "Bug: Fragment merging results in zero value arraybuffer"
Recent merge doesn't type set as `Uint8Array` on ArrayBuffer when using `.set` function

[2022-06-27 00:27] donghakang opened #284 "[Question] Dataset in different language"
Hi,

I love your work, but I have some issues when I face dataset with different language (mostly Korean).
In pydicom, the data reads perfectly fine in Korean but in dcmjs I get broken data (looks like Çã³²µµ)

Do you have any suggestions for me to try? I am just curious to know how you guess actually fetch data from DICOM.

[2022-06-27 19:37] pieper commented on #284
Thanks for reporting - I don't personally have a lot of experience with non-ascii datasets but it would be great if dcmjs could be as compliant as possible with the standard.  If you have publicly sharable example data that would be appreciated.  Ideally examples that work on pydicom or other toolkits but don't work correctly with dcmjs so we can use them for regression testing.

[2022-06-28 01:41] donghakang commented on #284
Thanks @pieper I would love to send you some examples, because this data is strictly protected ;(

However, with some information for @Ouwen I think I found some problem, which I don't think is related to dcmjs ..
So I will close this issue.

P.S. If anyone is struggling with broken text with different languages (such as Chinese, Japanese, Korean..) try to encode and decode the text

[2022-06-28 01:41] #284 closed

[2022-07-01 01:56] Ouwen opened #286 "Integration with cornerstoneWADOloader"
Hello, I am interested in using dcmjs to parse data in cornerstoneWADOloader. I have an active branch where I am trying to reach parity with the current wadouri code using `dicomParser`: https://github.com/Ouwen/cornerstoneWADOImageLoader/tree/feat_added_dcmjs

One of the needs is that in parsing pixel data it is important to know whether or not the data is encapsulated. In `dicomParser` this is d

[2022-07-01 02:58] Ouwen commented on #286
Looking at some of the functions, might be better to use these lines to check for encapsulated dicom: https://github.com/dcmjs-org/dcmjs/blob/a0a0fd59cd67890f182b9dc1bb73609f7822b5d2/src/DicomMessage.js#L12-L30

[2022-07-01 03:25] #286 closed

[2022-07-06 08:58] triet12369 opened #287 "Pixel Spacing parsing with comma as decimal separator is returning incorrect value"
Hi,

I found out that for images with the pixel spacing attribute (0028,0030), (0018,1164) that uses comma as decimal separator:
![image](https://user-images.githubusercontent.com/17722668/177510880-c582697b-104d-408e-9e57-ec7d10cc4c9f.png)

the resulting parsed Pixel Value is not correct:

[code]

I'm unfamiliar with DICOM Tag parsing so I'm grateful to hear pointers to fix this issue. Thank you

[2022-07-06 13:38] #287 closed, assigned to nobody

[2022-07-07 06:39] florianlink opened #289 "move "eslint-config-prettier" to devDependencies"
It is wrong to list "eslint-config-prettier" as runtime "dependency", it needs to be a "devDependency".
Having it as runtime dependencies introduces a large amount of licenses that the license checker will detect, which are not actually part of the deployed runtime of dcmjs.

I created https://github.com/dcmjs-org/dcmjs/pull/288 to fix this.

[2022-07-08 07:12] lalala45 opened #290 "Reading a big sized DICOM: RangeError: Offset is outside the bounds of the DataView"
When I try to read a ArrayBuffer of a big Dicom (1.13 GB), I get this error:
[code]

Code:
`let DicomDict = dcmjs.data.DicomMessage.readFile(dicom.content);`

Dicoms which are smaller in size, are read without any problems.

[2022-07-08 19:51] pieper commented on #290
Are you using node or a specific browser?  Can you share a dataset to replicate the issue?  It may be that you are hitting a system resource limit on the size of instance that can be handled.

[2022-07-09 09:24] florianlink commented on #84
@pieper  I finally got time to work on this and created a pull request:
https://github.com/dcmjs-org/dcmjs/pull/291

My code implements all "normal" specific character sets that are supported by modern browsers.
I implemented a test case for Davids example files.
Except for three quite special encodings, all files are correctly decoded.
The encodings which I did not implement would require extra p

[2022-07-10 00:04] #84 closed

[2022-07-11 07:21] lalala45 commented on #290
We are using the Chrome browser. Here is the dicom in question: https://drive.google.com/file/d/1nrrrfbHFySYVwWb_NtkzVr8WRFCuTe7I/view?usp=sharing

[2022-07-17 02:30] richard-viney opened #293 "Encapsulated pixel data of odd-length writes padding byte in incorrect location"
A padding byte for odd-length encapsulated binary data is currently being written at the end of writing the OB tag, but padding bytes need to be written for _each frame_, not the whole tag. That is, the last fragment for each frame should get a padding byte if that frame's data is of uneven length. This is the behaviour of pydicom.

Will open a PR containing a fix and test shortly.

[2022-07-21 03:29] richard-viney commented on #293
A PR has been opened that fixes this issue and adds a unit test for the OB tag writing.

[2022-07-21 03:47] richard-viney commented on #248
This isn't a reliable use of `.buffer` on line 224. It will return the underlying `ArrayBuffer`, but you also need to respect the byte offset and byte length values which specify the part of that `ArrayBuffer` that actually contains the relevant data. The underlying `ArrayBuffer` may be larger, and may be shared amongst different `Uint8Array` instances.

You can slice the buffer but that does crea

[2022-07-21 18:14] #293 closed

[2022-07-25 19:51] pieper commented on #290
I was going to have a look at this but the link is dead.  I guess the issue is resolved or you determined this was a browser limitation, but reopen this issue if you think there's something wrong in the library.

[2022-07-25 19:51] #290 closed

[2022-07-29 08:47] ledinhthi opened #297 "ReadBufferStream not support latine 1 on Mobile"
Today, i got problem about this function ReadBufferStream, but when i run , i got this The "latin1" encoding is not supported,
please help me to solve this

[2022-07-29 09:00] ledinhthi commented on #297
@richard-viney please help me

[2022-07-29 17:10] ledinhthi commented on #297
@richard-viney do we have any example for conver pdf, image to dcm and send, thank you so much

[2022-07-30 09:57] richard-viney commented on #297
I happened to run into a character set issue last week which is now fixed in this PR: #299. This change might address your problem, but without providing a failing test case it's hard to say.

If you're interested in understanding how DICOM handles image data this article might be of interest: http://dicomiseasy.blogspot.com/2012/08/chapter-12-pixel-data.html

[2022-07-31 11:22] ledinhthi commented on #297
Hi Mr richard viney,
Do you have any example about the convert pdf (image) to dcm, i would be
appreciated that.
Thank you so much

[2022-07-31 21:28] richard-viney commented on #297
Sorry no I haven't worked with PDF data in DICOM files yet. There are likely some resources around on how it works though.

[2022-08-03 18:36] ledinhthi commented on #290
Dataset.file_meta -------------------------------
(0002, 0002) Media Storage SOP Class UID         UI: Encapsulated PDF Storage
(0002, 0003) Media Storage SOP Instance UID      UI: 2.16.840.1.114430.287196081618142314176776725491661159509.60.1
(0002, 0010) Transfer Syntax UID                 UI: Explicit VR Little Endian
(0002, 0012) Implementation Class UID            UI: 1.3.46.670589.50.1.8.0
-

[2022-08-03 18:38] ledinhthi opened #300 "Offset is outside the bounds of the DataView"
I got a problem when i read data from python server @richard-viney :
Here is python dcm server dataset:
Dataset.file_meta -------------------------------
(0002, 0002) Media Storage SOP Class UID         UI: Encapsulated PDF Storage
(0002, 0003) Media Storage SOP Instance UID      UI: 2.16.840.1.114430.287196081618142314176776725491661159509.60.1
(0002, 0010) Transfer Syntax UID                 UI:

[2022-08-04 05:40] ledinhthi commented on #88
@MiguelSotelo2, Today i got problem same with you, could you help me to solve this, i wil be appriciated.

[2022-08-08 13:47] ladeirarodolfo opened #302 "JS exception while saving report"
There is a JS exception while saving (adapting)  report for RectangleRoi tool.

Steps to reproduce
- Consider having a list of tools to be adapted and then generate SR report.
- Consider having items of the list which does not yet have cachedStats property filled (aka RectangleRoi)

Expect
- Adapter should adapt cs annotation tool data into SR report schema

Results
- There is an exception on Rect

[2022-08-08 14:13] #302 closed

[2022-09-12 12:57] SveinungOverland opened #306 "[Cornerstone adapters] Tool is undefined when saving FreehandRoi tool in structured report"
https://github.com/dcmjs-org/dcmjs/blob/78528325e16624e86e205c7bf6a334e18dc279e1/src/adapters/Cornerstone/FreehandRoi.js#L46-L47

Hey, we use DCMjs to create structured reports from cornerstone and cornerstone-tools (not the new cornerstone3d).
For the most part this seems to work just fine, but we recently wanted to add FreehandRoi tooling to the reports. This never seemed to work as tool was alw

[2022-09-12 20:25] pieper commented on #306
Thanks for the report @SveinungOverland.

@wayfarer3130 can you comment?

https://github.com/dcmjs-org/dcmjs/commit/c65b93000a31b72b2a3ef3aede03838463dd4264#diff-e912a5f9f4a457613ce5a4cfb6d57552cb1bf3b38f8f07a56ea8501ca41bfea5

[2022-09-13 11:23] wayfarer3130 commented on #306
@SveinungOverland  - I'm not sure why it was commented out - it shouldn't have been, but for that class I was just updating it to match the format of the other ones, without having a full configuration that enabled it to run.  Please create a PR with it added back end, testing both save and restore.

[2022-09-17 07:49] vjau opened #311 "Trouble doing basic loading"
Hi,
i'm trying this library for the first time and have trouble with basic operations, trying to run this in node.

With this code and provided test dicom
[code]
I get following error
[code]
I am not an expert in node binary handling, but i suppose a node `Buffer` should be accepted as an `ArrayBuffer`.

Or is this project only for the browser ?

Thank you.

[2022-09-17 15:09] pieper commented on #311
The code should work fine in node or browser.  Try with one of the test datasets and if you still have issues post the full stack trace.

[2022-09-17 18:46] vjau commented on #311
The dicom file used is the one provided in your ```examples/data``` folder.

Stacktrace is here
[code]

I have made a repro here : https://github.com/vjau/dcmjs-try

Node v14.20.0
Ubuntu 20.04

[2022-09-27 00:36] esmadau opened #315 "Changing instance UID corrupts file, Invalid DICOM file, expected header is missing"
A lot of this was taken from this example: https://github.com/dcmjs-org/dcmjs/blob/add-commander/examples/nodejs/readwrite.js

I just need to be able to set the UID and generate new binary data. Code below is making sure data held in memory has changed.

To reproduce:

[code]

What I would expect:
[code]

**What I see:**
[code]

[2022-09-27 19:51] pieper commented on #315
Thanks for reporting this.  That's definitely a use case we want to make sure works.

From what I can see the `DICM` marker is missing (maybe the whole preamble is missing).

https://github.com/dcmjs-org/dcmjs/blob/914b3dccd1a9e9fd19f2ac94be6e02a82a6316ec/src/DicomMessage.js#L201

But it should have been written out by `DicomDict.write()` so something must be going on.

https://github.com/dcmjs-or

[2022-10-02 21:41] pieper commented on #315
PixelData should not be lost.  Did you make a simple test case to illustrate what you are doing?

[2022-10-03 22:00] md-prog opened #316 "Support annotations on multi-frame files through Cornerstone3D"
Annotations made by Cornerstone3D tools are being parsed by the adapter for Cornerstone3D.

And we want to be able to add annotations to specific frames of multi-frame files.
Now in the annotation data parsed by the adapter, we don't have any data that can related to the frame number to which the annotation is attached.

The frame number information is needed in the annotation data.

[2022-10-04 14:03] pieper commented on #311
Thanks for making the sample.  Did you try changing this line to `data.buffer`?

https://github.com/vjau/dcmjs-try/blob/1283caae8a16a37bfe5a4cc513297eaa0c3f7e33/main.js#L4

[2022-10-04 17:02] md-prog opened #318 "SR support with Cornerstone 3D - multi-frame DICOM files"
When saving an SR onto a multi-frame DICOM file, the frame number information are not being saved at all.

The reason is that `dcmjs` tries to detect multi-frame feature of a DICOM file, purely by sopClassID, and as we don't have all possible sopClassIDs in the comparison routine, measurement SRs are not working properly with many multi-frame DICOM files.

https://github.com/dcmjs-org/dcmjs/blob/9

[2022-10-04 17:59] #316 closed

[2022-10-04 18:00] pieper commented on #318
Thanks for reporting.  Yes, adding all multiframe SOPClasses to the list would be good.

[2022-10-05 04:56] EastLight0 commented on #315
hi friends! I have a similar problem...

I'm trying to insert a dicom tag. A tag is inserted in the final dicom file.
but, an error occurs when opening the saved dicom file.
So I thought about my problem.
After checking that the Pixeldata is changed after saving, I looked for the problem.

[code]
If you print the log before and after modifying the dicom file, you can get the following result.

![i

[2022-10-05 20:41] pieper opened #319 "Crash due to no TextEncoder on nodejs"
Following https://github.com/dcmjs-org/dcmjs/commit/bfd6693e7491b17a2e615393eb5b80af3a78de9b nodejs now crashes with undefined use of [TextEncoder](https://developer.mozilla.org/en-US/docs/Web/API/TextEncoder).  According to [this post](https://stackoverflow.com/questions/69187442/const-utf8encoder-new-textencoder-in-node-js) it is fixed with the node util package like this:
[code]
And indeed this

[2022-10-05 20:43] pieper commented on #311
I tested with `data.buffer` and it appears to work.  Can you confirm.  I did run into [this issue](https://github.com/dcmjs-org/dcmjs/issues/319}.  If you are working on nodejs could you provide a PR to fix that?

[2022-10-05 20:45] pieper commented on #315
@EastLight0 Thanks for reporting.  Please make a test that demonstrates the issue following the example of the other tests in the repo.

[2022-10-06 19:46] vjau commented on #311
It's indeed working replacing `data` with `data.buffer`
I will look into your issue.

[2022-10-06 20:05] vjau commented on #319
Current Node LTS is v16, and v14 will just get security fixes until april of 2023, so it's probably pretty safe not to support v10 and v11, imho.

[2022-10-06 21:15] pieper commented on #319
I just installed the version that comes with apt-get on ubuntu 20.04, so yes, it's old.  We haven't had a formal policy but if we do want to set a limit that's fine with me.  It should be documented (in the readme.md for now) and we should have a startup check with a warning that the version is not supported and may not work.

[2022-10-06 21:16] #311 closed

[2022-10-07 20:04] vjau commented on #319
I'm not familiar with this project architecture but it seems it has a lot of tools and entry points. Where would be a good place to put this check ?
Or should it be in a dependency that should be imported and run by every tool ?

[2022-10-07 20:16] pieper commented on #319
I'm not sure how this is handled by other packages in npm, but to me it would make sense that if you try to require the package into a version of node that we know is not compatible we should raise an error right away.  Maybe the best would be to do some research into conventions other packages use to manage what node versions they will or won't run on.

I know the default node version is old, but

[2022-10-07 21:14] vjau commented on #319
Ubuntu 20.04 includes in his repositories Node v10 which end of life (no more security fixes) was 2016-10-31, six years ago.
Most npm packages don't support it anymore and there are multiple warning not to use it in production.
I am also on 20.04 with node v14 running (EOL in six months) and i already have problems running some tools with it. I will have to update it by any means to v16 before EOL

[2022-10-07 21:15] vjau commented on #319
I have found this package https://github.com/parshap/check-node-version that could be run with the test script ?

[2022-10-07 21:19] vjau commented on #319
It seems there is also a way to enforce it in the package.json, but wouldn't it cause problem to run it on the browser ? (or would it be ignored by the bundler ?)
https://stackoverflow.com/questions/29349684/how-can-i-specify-the-required-node-js-version-in-package-json

[2022-10-07 22:40] pieper commented on #319
Thanks for looking into this.  I agree running end-of-life software for anything serious is not good practice.  It's also good though for us to support older versions if it's not a big effort, just because there are times when valid uses get locked in a version dilemma where one dependency requires an upgrade but another doesn't support the new version yet.  I wouldn't want to go overboard adding

[2022-10-10 16:19] #306 closed

[2022-11-07 23:47] jlopes90 commented on #211
There is another solution:

Is to ignore "sourceImageMetadata".

Before:
https://github.com/dcmjs-org/dcmjs/blob/c209047861d2ef6c17526c6d1e29d5db7e895b29/src/adapters/Cornerstone/Segmentation_4X.js#L936-L949

After:
[code]

I've already tested my platform and it works export and import segmentation.

[2022-11-14 23:29] richard-viney opened #324 "NaN and Infinity number values cause write to fail"
`dcmjs@0.29.0` is able to read `NaN` and `Infinity` values from a DICOM, but isn't able to write them back out.

Attempting to do so triggers the "Not a number" exception in this function from `BufferStream.js`:

[code]

The expected result is that numeric tags with `NaN` or `Infinity` values are written back out. Verifying with `pydicom` showed that it reads and writes these values.

[2022-11-15 00:37] pieper commented on #324
There are some other places where converting to native times causes differences due to rounding errors, so we thought about keeping the original value in a `_original` field or similar so that this kind of issue won't lead to a validation error on round trips.  Otherwise I'm not sure we want NaNs in the fields that we plan to compute on - a goal of the normalizing steps is to handle all the specia

[2022-11-15 01:30] richard-viney commented on #324
Makes sense, however I don't believe this is non-standard data or a special case. We've just seen it in the real world coming from a GE Vivid S70 v201.102.0 Ultrasound machine.

It appears that `NaN` values are sometimes put into tags with a VR of `FD` (double float) that are required by the spec, but for which the machine doesn't have a useful/sensible/legitimate value for. So they put `NaN` to f

[2022-11-15 15:24] pieper commented on #324
Ah, I see, `FD` no `DS`, yes, allowing `NaN` and `Inf` makes sense, thanks for the explanation.

[2022-11-15 15:24] #324 closed

[2022-11-19 13:00] richard-viney opened #326 "Reading malformed DICOM file causes infinite loop"
Loading the following malformed DICOM file results in an infinite loop in the dcmjs parser:

https://drive.google.com/file/d/1LySSmhpfNPLHAYR9WObIHL_NlpkX9a-i/view?usp=sharing

This happens because the meta length is assumed to be present and correctly formed, but in this DICOM file it is absent. Interestingly, pydicom loads the file without any errors. I haven't investigated exactly how/why it is

[2022-11-19 23:35] pieper commented on #326
Thanks for reporting and providing the data.  You are right, this is a very minimal and malformed dataset, not even any pixel data.  Still, avoiding an infinite loop would be nice, and loading if we can I guess.  Can you create a PR?

[code]